.page404 {
    position: relative;

    p {
        padding: 200px 0;
        line-height: 399px;
        font-size: 633px;
        text-align: center;
        font-weight: 300;
        user-select: none;
        letter-spacing: -.2px;
        @include breakpoint(medium down) {
            font-size: 350px;
        }
        @include breakpoint(small down) {
            font-size: 250px;
            line-height: 500px;
            padding: 0;
        }
        @include breakpoint(tiny down) {
            font-size: 150px;
            line-height: 400px;
        }

    }

    a {
        position: absolute;
        top: 180px;
        right: 0;
        left: 400px;
        color: #f00;
        margin: auto;
        width: 100px;
        line-height: 22px;
        font-size: 17px;
        letter-spacing: -.5px;
        @include breakpoint(small down) {
            left: 0;
            top: 90px;
        }
        @include breakpoint(tiny down) {
            top: auto;
            bottom: 75px;
            left: 75px;
        }

        span {
            border-bottom: 1px solid #595959;
        }

        &:hover {

            span {
                border-bottom: 1px solid transparent;
            }

        }

    }

}