#modal-expired {
  .modal-dialog .enter-box {
    padding: 40px 50px;
    font-weight: 500;
    .expired_title{
      line-height: 34px;
      font-size: 27px;
      text-align: center;
    }
    .expired_message{
      line-height: 34px;
      font-size: 17px;
      text-align: center;
      a{
        border-bottom: 1px $color-red solid;
        color: $color-red;
        &:hover {
          border: none;
        }
      }
    }
  }
}