#modal-login {

    #open_register {
        color: white;

        &:hover {
            color: #f00;
        }

    }

    #open_forgot_password {
        color: white;

        &:hover {
            color: #f00;
        }

    }

    .enter-fb {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #f00;
        }

        span {
            display: inline-block;
            text-align: left;
            margin-right: 17px;
            line-height: normal;
        }

    }

}
