#modal-registration{
  .enter-fb {
    display: flex;
    align-items: center;
    justify-content: center;

    span{
      display: inline-block;
      text-align: left;
      margin-right: 17px;
      line-height: normal;
    }
  }

  #open_login{
    color: white;
  }

}