#modal-thank_payment {
  .modal-dialog .enter-box {
    padding: 40px 50px;
    .thank_payment_title {
      line-height: 46px;
      font-size: 27px;
      text-align: center;
      font-weight: 500;
    }
    .thank_payment_message{
      line-height: 22px;
      font-size: 17px;
      text-align: center;
    }

    .btn-enter{
      margin-top: 50px;
      a{
        color: #fff;
        padding-right: 30px;
        position: relative;
        font-weight: 500;
        &:before{
          content: "";
          display: inline-block;
          width: 19px;
          height: 20px;
          background-image: url(/images/enter.png);
          background-position: 50% 65%;
          background-size: cover;
          position: absolute;
          right: 2px;
          top: 1px;
        }

      }
    }
  }

}

