.modal-video {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 50px 0;
  //width: 70%;
  height: calc(100% - 190px);
  border-radius: 5px;
  text-align: left;
  @include breakpoint(small down) {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  .videoframe{
    max-width: 965px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin: 0 auto;

    @include breakpoint(small down) {
      height: 100%;
      width: calc(100% - 40px);
      margin: 0 auto;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
    iframe{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

#aboutVideo{
  .modal-close{
    @include breakpoint(small down) {
      top: 5px;
      right: 25px;
    }
  }
}