@import "./../../node_modules/tinymce/skins/lightgray/content.min.css";
@import "./../../node_modules/tinymce/skins/lightgray/content.inline.min.css";
@import "./../../node_modules/tinymce/skins/lightgray/content.mobile.min.css";
@import "./../../node_modules/tinymce/skins/lightgray/skin.min.css";
@import "./../../node_modules/tinymce/skins/lightgray/skin.mobile.min.css";

body {
    margin: 0;
    padding: 0;
}
