.post-list-wrapper {
    padding-top: 80px;
    padding-bottom: 250px;
    @include breakpoint(medium down) {
        padding-bottom: 150px;
    }

    .post-item-box {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;

        .post-item {
            @include breakpoint(medium down) {
                flex-basis: 600px !important;
                margin-left: auto;
                margin-right: auto;
            }

            & + .post-item {
                margin-top: 70px;
            }

            &:nth-child(2n) {
                margin-top: 150px;
                @include breakpoint(medium down) {
                    margin-top: 70px;
                }

            }

            &:nth-child(2) {
                margin-top: 60px;
                @include breakpoint(medium down) {
                    margin-top: 70px;
                }

            }

            &.tiny {
                flex-basis: 225px;

                &.horizontal {
                    flex-basis: 500px;
                }

            }

            &.small {
                flex-basis: 310px;
            }

            &.normal {
                flex-basis: 460px;
            }

            &.large {
                flex-basis: 550px;

                &.centered {
                    flex-basis: 635px;
                }

            }

            &.left-aligned {
                margin-left: 75px;
                @include breakpoint(medium down) {
                    margin-left: auto;
                }

            }

            &.right-aligned {
                margin-right: 75px;
                @include breakpoint(medium down) {
                    margin-right: auto;
                }

            }

            &.centered {
                margin-left: auto;
                margin-right: auto;
            }

            &.horizontal {
                display: flex;
                align-items: flex-start;
                flex-basis: auto;
                @include breakpoint(medium down) {
                    flex-direction: column;
                }

                .post-item-image {
                    margin-right: 20px;
                    @include breakpoint(medium down) {
                        margin-right: 0;
                    }

                }

                .post-item-description {
                    max-width: 200px;
                    width: 100%;
                    @include breakpoint(medium down) {
                        max-width: unset;
                    }

                }

            }

            &.message {

                .post-item-image {
                    display: none;
                }

                .post-item-description {
                    border: 3px solid red;
                    border-radius: 6px;
                    padding: 20px 25px 25px;
                    min-height: 225px;
                    @include breakpoint(tiny down) {
                        min-height: auto;
                        padding: 45px 25px 55px;
                    }

                    p {
                        font-size: 22px;
                        font-weight: bold;
                        border-bottom: 1px solid #8c8c8c;
                        display: inline;

                        &:hover {
                            border-bottom: none;
                        }

                    }

                }

            }

            &-image {
                width: 100%;

                a {
                    display: block;
                    margin-bottom: 25px;
                    position: relative;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(0,0,0,.5);
                        z-index: 1;
                        opacity: 0;
                        transition: opacity .3s;
                    }

                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                        color: inherit;

                        span {
                            opacity: 1;
                        }
                    }

                    span {
                        opacity: 0;
                        transition: opacity .3s;
                    }

                    .shareit, .views {
                        position: absolute;
                        display: flex;
                        z-index: 10;
                        top: 15px;

                        .icon {
                            margin-right: 10px;

                        }
                    }
                    .shareit {
                        left: 20px;
                        img {
                            min-width: 19px;
                        }
                    }

                    .views {
                        left: 105px;
                         img {
                             min-width: 26px;
                         }
                    }

                    img {
                        border-radius: 6px;
                        width: 100%;
                    }



                }

            }

            &-description {
                line-height: 22px;

                a {
                    border-bottom: 1px solid #797979;
                    font-size: 17px;
                    letter-spacing: -.5px;


                    &:hover {
                        color: #fff;
                        border-bottom: 1px solid transparent;
                    }

                }

            }

        }

    }

    .load-posts {
        color: #fff;
        font-size: 26px;
        text-align: left;
        margin-left: 150px;
        margin-top: 50px;
        @include breakpoint(medium down) {
            flex-basis: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        @include breakpoint(tiny down) {
            font-size: 24px;
        }

        span {
            border-bottom: 1px solid #8e8e8e;
            padding-bottom: 1px;
            line-height: 36px;
        }

        sup {
            font-size: 13px;
            margin-left: 0;
            top: -17px;
            @include breakpoint(tiny down) {
                font-size: 12px;
                top: -15px;
            }

        }

        &:hover {

            span {
                border-bottom: 1px solid transparent;
            }

        }

    }

}