$page-color-original: #fff;
$page-color-inverse: #000;
$tags-color-original: #8e8e8e;
$button-background: #f00;

.tag-cloud-section {
    padding-top: 110px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    .tag-list {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 53px;
        overflow: hidden;
        flex-shrink: 1;
        width: max-content;

        &.visible {
            height: auto;
            overflow: visible;
        }

        &__btn {
            right: 0;
            top: 0;
            color: rgb(142,142,142);
            padding: 12px 17px;
            font-size: 13px;
            font-weight: bold;
            display: inline-block;
            letter-spacing: -0.2px;

            &:before {
                content: '';
                display: inline-block;
                height: 1px;
                width: 100%;
                border-bottom: 1px dotted rgb(63,63,63);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        &-item {
            color: rgb(142,142,142);
            border: 2px solid rgb(63,63,63);
            padding: 8px 17px;
            margin-bottom: 15px;
            margin-right: 8px;
            border-radius: 30px;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: -0.2px;
            transition: color ease 0.3s, border ease 0.3s, background ease 0.3s;
            @include breakpoint(tiny down) {
                font-size: 12px;
            }

            &.active {
                color: $page-color-original;
                background: $button-background;
                border: 2px solid $button-background;

                span {
                    display: none;
                }

            }

            &:hover {
                color: $page-color-original;
                background: $button-background;
                border: 2px solid $button-background;
            }

            &.hiddenItem {
                display: none;
            }

        }

    }

    .more-tags {
        flex-basis: 35px;
        max-width: 35px;
        flex-shrink: 0;
        flex-grow: 1;
        color: $tags-color-original;
        border-bottom: 1px dashed $tags-color-original;
        padding-bottom: 2px;
        font-size: 17px;
        margin-left: 5px;
        margin-top: 2px;

        &:hover {
            border-bottom: 1px dashed transparent;
            color: $page-color-original;
        }

        &.more-blog-tags {
            display: none;
        }

    }

}