.about {
    padding-top: 105px;

    &-main {
        margin-top: 35px;
        padding: 0;
        display: flex;
        flex-wrap: nowrap !important;
        align-items: flex-start;

        &-content {
            flex-grow: 1;

            &.lesson_content{
                display: none;
            }

            .current-video {
                position: relative;

                &-content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    perspective: 600px;
                    border-radius: 5px;
                    overflow: hidden;
                    @include breakpoint(tiny down) {
                        padding: 0;
                    }

                    & > img {
                        width: 100%;
                    }

                    p {
                        position: absolute;
                        top: 15px;
                        left: 20px;
                        @include breakpoint(small down) {
                            position: absolute;
                            top: -70px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            max-width: 275px;
                            font-size: 14px;
                            text-align: center;
                        }

                        br {
                            @include breakpoint(small down) {
                                display: none;
                            }

                        }

                    }

                    button {
                        position: absolute;
                        width: 70px;
                        height: 70px;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        cursor: pointer;
                        background: url(/images/play.png) no-repeat center;
                        background-size: 70px;
                        transition: transform 0.3s;
                        @include breakpoint(tiny down) {
                            width: 50px;
                            height: 50px;
                            background: url(/images/play.png) no-repeat center;
                            background-size: 50px;
                        }

                        &:hover {
                            transform: translateZ(50px);
                        }

                    }

                    aside {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 40px;
                        width: 100%;
                        background: linear-gradient(transparent 0, #000 50%);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 0 25px;
                        @include breakpoint(tiny down) {
                            padding: 0 10px;
                        }

                        & > div {
                            display: flex;
                            align-items: center;
                            @include breakpoint(tiny down) {
                                flex-direction: column;
                            }

                            img {
                                @include breakpoint(medium down) {
                                    height: 25px;
                                }
                                @include breakpoint(tiny down) {
                                    height: 20px;
                                }

                            }

                            span {
                                margin-left: 10px;
                                @include breakpoint(medium down) {
                                    font-size: 13px;
                                    margin-left: 5px;
                                }
                                @include breakpoint(tiny down) {
                                    font-size: 12px;
                                }

                            }

                        }

                    }

                }

                .gag {
                    width: 100%;
                }

            }

            .more-series {
                margin: 25px 0;
                @include breakpoint(medium up) {
                    display: none;
                }

                .more-button {
                    background: #232323;
                    color: #fff;
                    font-size: 25px;
                    border-radius: 5px;
                    padding: 15px 52px 15px 35px;
                    font-weight: bold;
                    position: relative;
                    max-width: 280px;
                    width: 100%;
                    display: block;
                    margin: auto;

                    i {
                        position: absolute;
                        width: 14px;
                        height: 14px;
                        right: 25px;
                        top: 5px;
                        bottom: 0;
                        margin: auto;
                        border-radius: 50%;
                        background: #fff;
                        @include breakpoint(small down) {
                            right: 35px;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            margin: auto;
                            top: 5px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            border: 4px solid transparent;
                            border-top: 5px solid #232323;
                            width: 0;
                            height: 0;
                        }

                    }

                }

            }

            .intro {
                margin-top: 50px;

                p {
                    font-size: 16px;
                    margin-top: 20px;
                    line-height: 24px;
                    @include breakpoint(tiny down) {
                        font-size: 13px;
                        line-height: 18px;
                    }

                }

            }

            .materials {
                margin-top: 50px;

                &-item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 43px;
                    @include breakpoint(tiny down) {
                        height: auto;
                        margin-bottom: 15px;
                    }

                    img {
                        @include breakpoint(tiny down) {
                            width: 35px;
                        }

                    }

                    a {
                        margin-left: 15px;
                        font-size: 17px;
                        border-bottom: 1px solid #777777;
                        @include breakpoint(tiny down) {
                            border-bottom: none;
                            margin-left: 10px;
                            font-size: 15px;
                        }

                        &:hover {
                            color: #fff;
                            border-bottom: none;
                        }

                    }

                }

                h4 {
                    margin-bottom: 10px;
                }

            }

        }

    }

}