.database {
    margin-top: 150px;
    margin-bottom: 200px;
    @include breakpoint(small down) {
        margin-top: 75px;
        margin-bottom: 100px;
    }

    h2 {
        margin-bottom: 30px;
        font-weight: 700;
        @include breakpoint(tiny down) {
            font-size: 21px;
        }
    }

    &-wrapper {

        width: 100%;
        display: flex;
        padding-bottom: 5px;
        @include breakpoint(1024 down) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include breakpoint(small down) {
            flex-direction: column;
            align-items: center;

        }
        @include breakpoint(tiny down) {
            flex-direction: column;
        }

        .database-item {

            display: flex;
            flex-direction: column;
            max-width: 308px;
            width: 100%;
            margin-right: 20px;
            @include breakpoint(1024 down) {
                max-width: 500px;
                width: calc(50% - 15px);
                margin-right: 0;
            }
            @include breakpoint(small down) {
                margin-right: 0;
                max-width: 500px;
                width: 100%;

                margin-bottom: 55px;
            }
            @include breakpoint(tiny down) {
                margin-bottom: 45px;
            }

            a {
                display: block;

                &.database-item-thumbnail {
                    height: 225px;
                    @include breakpoint(small down) {
                        height: auto;
                    }
                }
            }

            &-description {
                margin-top: 40px;
                @include breakpoint(small down) {
                    margin-top: 10px;
                    font-size: 17px;
                    line-height: 25px;
                }

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

        }

        .database-btn {
            width: 33.33%;
            display: flex;
            justify-content: center;
            @include breakpoint(1024 down) {
                justify-content: center;
                width: 100%;
            }
            @include breakpoint(tiny down) {
                width: 100%;
                justify-content: left;
            }
        }

        .more-materials {
            cursor: pointer;
            text-align: left;
            position: relative;
            top: 75px;
            //width: calc(33.333% - 10px);
            @include breakpoint(small down) {
                max-width: 500px;
                width: 100%;
                margin: 0 auto 50px;
                top: 0;
                text-align: left;
            }

            span {
                color: #fff;
                font-size: 17px;
                border-bottom: 1px solid #848484;
                margin-bottom: 3px;
                display: inline-block;
                @include breakpoint(small down) {
                    font-size: 21px;
                    font-weight: 600;
                    text-align: left;
                }
            }

            &:hover {

                span {
                    border-bottom: 1px solid transparent;
                }

            }

            sup {
                font-size: 13px;
                margin-left: 0;
                top: -9px;
            }

        }

    }

}