.more {
    margin-top: 150px;
    margin-bottom: 100px;

    h2 {
        margin-bottom: 30px;
        font-weight: 700;
        @include breakpoint(tiny down) {
            font-size: 21px;
        }
    }

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .course-item {
            width: 30%;
            height: 175px;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            margin-bottom: 25px;
            @include breakpoint(1024 down) {
                width: 32%;
            }
            @include breakpoint(small down) {
                max-width: 500px;
                width: 100%;
                height: auto;
                margin: 0 auto 25px;
            }

            a {
                display: block;
                height: 100%;

                .title {
                    position: absolute;
                    top: 2px;
                    left: 15px;
                    line-height: 20px;
                    font-weight: bold;
                    font-size: 14px;
                }

                .position {
                    position: absolute;
                    font-size: 13px;
                    line-height: 16px;
                    bottom: 7px;
                    left: 15px;
                }

                .play {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    background: url(/images/play.png) no-repeat center;
                    background-size: 30px;
                    top: 10px;
                    right: 10px;
                    display: none;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    @include breakpoint(small down) {
                        height: auto;
                    }

                }

                &:hover {
                    color: white;
                }

            }

        }

    }

}