.about-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 50;
    @include breakpoint(small down) {
        flex-direction: column;
        margin-bottom: 35px;
    }

    &__dropdown {
        position: relative;
        z-index: 50;

        &.open {

            .season {
                box-shadow: 0 5px 17px 0 rgba(0,0,0,0.75);

                i {
                    transform: scaleY(-1);
                }

            }

            .other_seasons {
                display: inline-block;

                li {
                    max-height: 150px;
                }

            }

        }

    }

    .season {
        background: #232323;
        color: #fff;
        font-size: 25px;
        border-radius: 5px;
        padding: 15px 52px 15px 35px;
        font-weight: bold;
        position: relative;
        cursor: default;
        transition: box-shadow .3s;
        @include breakpoint(small down) {
            margin-bottom: 15px;
            max-width: 280px;
            width: 100%;
        }

        i {
            position: absolute;
            width: 14px;
            height: 14px;
            right: 25px;
            top: 2px;
            bottom: 0;
            margin: auto;
            border-radius: 50%;
            background: #fff;
            transition: transform .3s;


            &:after {
                content: "";
                position: absolute;
                margin: auto;
                top: 5px;
                bottom: 0;
                left: 0;
                right: 0;
                border: 4px solid transparent;
                border-top: 5px solid #232323;
                width: 0;
                height: 0;
            }

        }

    }

    .other_seasons{
        position: absolute;
        z-index: -1;
        left: 0;
        top: calc(100% - 10px);
        background-color: #232323;
        list-style: none;
        width: 100%;
        border-radius: 5px;
        padding-top: 10px;
        @include breakpoint(small down) {
            top: calc(100% - 20px);
        }

        li {
            border-bottom: 1px solid #353535;
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s;
            &:nth-last-child(1) {
                border-bottom: none;
            }

        }

        a {
            color: #fff;
            font-size: 18px;
            border-radius: 5px;
            padding: 15px 10px;
            font-weight: bold;
            display: inline-block;
            width: 100%;
            text-align: center;
            transition: color .3s;

            &:hover {
                color: $color-red;
            }

        }

    }

    .name {
        font-size: 25px;
        font-weight: bold;
        @include breakpoint(small down) {
            max-width: 275px;
            text-align: center;
        }

    }

    &-courselist {
        @include breakpoint(small down) {
            display: none;
        }

        ul {
            list-style: none;
            display: flex;

            li {
                margin-left: 7px;
                width: 47px;
                height: 47px;

                a {
                    display: block;
                    overflow: hidden;
                    border-radius: 50%;
                    opacity: .5;
                    transition: opacity 0.4s;
                    height: inherit;
                    width: inherit;

                    img {
                        font-size: 10px;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                &.active {

                    a {
                        opacity: 1;
                        border: 3px solid #f00;
                    }

                }

                &:hover {

                    a {
                        opacity: 1;
                    }

                }

            }

        }

    }

}