.rating {
  margin-top: 50px;

  &-slider {
    position: relative;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid red;

    &-point {
      width: 35px;
      height: 35px;
      position: absolute;
      background: #000 url(/images/slider.png) no-repeat center;
      background-size: 25px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 300px;
      margin: auto;
      @include breakpoint(tiny down) {
        right: 75px;
      }

    }

    &:before {
      content: 'не доволен';
      color: #f00;
      position: absolute;
      left: 0;
      top: -35px;
      font-size: 14px;
    }

    &:after {
      content: 'доволен';
      color: #f00;
      position: absolute;
      right: 0;
      top: -35px;
      font-size: 14px;
    }

  }

}