.about-main-sidebar {
    flex-basis: 300px;
    flex-shrink: 0;
    max-height: 600px;
    margin-left: 20px;
    padding-bottom: 25px;
    position: relative;
    @include breakpoint(small down) {
        display: none;
    }

    .sidebar-list {
        max-height: 570px;
        overflow: hidden;

        .loader {
            svg {
                width: 60px;
            }
        }

        .course-item {
            margin-bottom: 20px;
            position: relative;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0,0,0,.5);
                z-index: 1;
                display: none;
            }

            &.blocked {
                cursor: default;

                &:before {
                    display: inline-block;
                }

                .play .unlocked {
                    display: none !important;
                }

                .play .blocked {
                    display: inline-block !important;
                }
            }

            img {
                width: 100%;
            }

            aside {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: absolute;
                bottom: 2px;
                height: 40px;
                width: 100%;
                padding: 0 10px;
                z-index: 2;

                .play {
                    width: 28px;
                    cursor: pointer;
                    min-width: 28px;

                    .unlocked {
                        display: inline-block;
                    }

                    .blocked {
                        display: none;
                    }
                }

                p {
                    font-weight: bold;
                    font-size: 13px;
                    margin-left: 10px;
                    letter-spacing: -0.3px;
                }

            }

        }

    }

    &-mobile {
        max-height: none;
        display: none;

        &.open {
            @include breakpoint(small down) {
                display: block;
                margin-left: 0;
            }
        }

        .sidebar-list {
            max-height: none;
        }

    }

    .btn-arrow {
        width: 25px;
        height: 25px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: 50;
        border-radius: 50%;
        background-color: #000;
        display: none;

        &.visible {
            display: block;
        }

    }

}
