body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
    font-family: $font-family-base;
}

.row {
    width: 100%;
    max-width: 966px;
    @include breakpoint(1024 down) {
        padding: 0 20px;
    }
}

* {
    outline: none;
}

h1, h2, h3, h4, h5, h5, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
}

a {
    color: inherit;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    @include breakpoint(tiny down) {
        font-size: 27px;
        line-height: normal;
        font-weight: 500;
    }
}