button {
    &:hover {
        cursor: pointer;
    }
}

.btn-down {
    transform: translateX(-50%);
    display: inline-block;
    svg {
        transform: rotate(-90deg);
    }
}

.btn-animation {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: upDown;

}
@keyframes upDown {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.btn-access {
    background-color: $color-red;
    color: #fff;
    border-radius: 5px;
    border: 3px solid $color-red;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0;
    transition: color .3s, background-color .3s;
    width: 196px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #000;
        color: $color-red;

    }
}

.btn-access-big {
    width: 275px;
    height: 79px;
    background-color: $color-red;
    border-radius: 98px;
    box-sizing: border-box;
    color: #fff;
    padding: 15px 20px 20px 74px;
    line-height: normal;
    text-align: left;
    background-image: url(/images/logo-btn2.png);
    background-repeat: no-repeat;
    background-size: unset;
    -webkit-background-size: 38px;
    background-position: 19px 50%;
    font-size: 18px;


    @include breakpoint(tiny down) {
        width: 100%;
        height: 45px;
        -webkit-background-size: 19px;
        background-size: 19px;
        padding: 0 0 0 40px;
        font-size: 13px;
        color: #fff;
        font-weight: 500;
        background-position: 12px 50%;
    }

    br {
        @include breakpoint(tiny down) {
            display: none;
        }
    }

}

.btn-video-live {
    opacity: .4;
    transition: opacity 0.4s ease;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid transparent;
    width: 58px;
    height: 58px;
    object-fit: cover;
    display: inline-block;
    @include breakpoint(tiny down) {
        width: 64px;
        height: 64px;
        border: none;
    }
    img {
        position: relative;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    &.active {
        opacity: 1;
        border: 1px solid #fff;
        @include breakpoint(tiny down) {
            box-shadow: rgb(255, 0, 0) 0px 0px 0px 5px inset;
            border: none;
        }
    }
    &:hover {
        opacity: 1;
    }

}

.btn-curses {
    color: rgb(127, 127, 127);
    line-height: 22px;
    font-size: 17px;
    border-bottom: 1px dotted;
    transition: color .3s, border .3s;
    margin: 5px 15px;
    letter-spacing: -.3px;
    @include breakpoint(tiny down) {
        font-size: 13px;
    }
    @include breakpoint(388 down) {
        font-size: 13px;
        justify-content: flex-start;
        text-align: left;
        margin: 0 15px 0 0;

    }

    &.active {
        color: #fff;
        border-color: transparent;
    }

    &:hover {
        color: #fff;
        border-color: transparent;
    }
}

.btn-more {
    position: relative;
    .text {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        text-decoration: none;
        line-height: normal;

        &:hover {
            border-color: transparent;
        }

    }
    .counter {
        color: $color-red;
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        top: 10px;
        right: -30px;
        @include breakpoint(tiny down) {
            top: -10px;
        }
    }
}

.btn-present {
    width: 100%;
    max-width: 275px;
    display: flex;
    color: #fff;
    font-size: 14px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 45px;
    @include breakpoint(tiny down) {
        max-width: 100%;
    }
}

.edit {
    position: relative;

    &:hover {
        
    }
}

button:disabled,
button[disabled],
a:disabled,
a[disabled]{
    opacity: 0.1;
    pointer-events: none;
}
a {
    &:hover, &:focus {
        outline: none;
        color: inherit;
    }
}
