@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-extralight.otf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-extralightitalic.otf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-light.otf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-lightitalic.otf);
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-regular.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-regularitalic.otf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-mediumitalic.otf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-bolditalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "formular";
  src: url(../../../fonts/formular-blackitalic.otf);
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "formular mono";
  src: url(../../../fonts/formular-mono.otf);
}

//roboto--------------------------------------------------------------------
@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-Light.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-Medium.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-MediumItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../fonts/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
