.footer {
    padding-bottom: 60px;
    position: relative;
    @include breakpoint(tiny down) {
        position: relative;
        padding-bottom: 300px;
        overflow: hidden;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include breakpoint(1024 down) {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @include breakpoint(tiny down) {
            flex-direction: column;
            align-items: center;
        }
        @include breakpoint(388 down) {
            align-items: flex-start;
        }

        &-item {
            @include breakpoint(1024 down) {
                margin-bottom: 30px;
            }

            &:nth-child(1) {
                width: 320px;
                @include breakpoint(820 down) {
                    order: 3;
                }
                @include breakpoint(tiny down) {
                   order: 1;
                }

            }

            &:nth-child(2) {
                width: 250px;
                @include breakpoint(820 down) {
                    order: 1;
                }
                @include breakpoint(tiny down) {
                    order: 2;
                    display: flex;
                    flex-direction: column-reverse;
                }

            }

            &:nth-child(3) {
                width: 208px;
                @include breakpoint(820 down) {
                    order: 2;
                }
                @include breakpoint(tiny down) {
                    width: 280px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    order: 3;
                }

            }

            &-btn {
                margin-bottom: 31px;
                @include breakpoint(tiny down) {
                    text-align: center;
                }
                @include breakpoint(388 down) {
                    text-align: left;
                }

                a {
                    border-bottom: 1px solid rgba(255, 255, 255, .5);
                    display: inline-block;
                    font-size: 17px;
                    line-height: 22px;

                    &:hover {
                        border-bottom: 1px solid transparent;
                        color: #fff;
                    }

                }

            }

            .footer-copyright {
                color: #5e5e5e;
                font-size: 15px;
                letter-spacing: -.2px;
                @include breakpoint(tiny down) {
                    max-width: 156px;
                    margin: 0 auto;
                    text-align: center;
                    position: absolute;
                    bottom: 40px;
                    left: 0;
                    right: 0;
                }

            }

            .mail {
                margin-bottom: 18px;
                font-size: 17px;

                p {
                    line-height: 22px;

                }

                a {
                    display: inline-block;
                    width: 100%;

                    &:hover {
                        color: #fff;
                    }

                }

            }

            .phone {
                margin-bottom: 25px;
                display: flex;
                align-items: center;
                @include breakpoint(tiny down) {
                    margin-bottom: 0;
                }

                &-number {
                    font-size: 24px;
                    color: $color-red;
                    font-weight: 700;
                    margin-right: 10px;
                    @include breakpoint(1024 down) {
                        display: none;
                    }

                }

                a {
                    display: none;
                    font-size: 24px;
                    color: $color-red;
                    font-weight: 700;
                    margin-right: 10px;
                    @include breakpoint(1024 down) {
                        display: block;
                    }

                    &:hover {
                        color: $color-red;
                    }

                }

                span {
                    color: rgb(94, 94, 94);
                    font-size: 12px;
                    display: inline-block;
                    line-height: 12px;
                }

            }

            .soc {
                display: inline-block;
                list-style: none;
                @include breakpoint(tiny down) {
                    position: absolute;
                    bottom: 130px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                }

                li {
                    display: inline-block;
                    margin-right: 30px;
                    @include breakpoint(tiny down) {
                        margin: 0 15px;
                    }

                    a {
                        opacity: .6;
                        @include breakpoint(tiny down) {
                            opacity: 1;
                        }

                        &:hover {
                            opacity: 1;
                        }

                        img {
                            width: 22px;
                            @include breakpoint(tiny down) {
                                width: 35px;
                                height: 35px;
                            }

                        }

                    }

                }

            }

            .cards {
                margin-top: 14px;
                display: flex;
                align-items: center;
                @include breakpoint(tiny down) {
                    transform: rotate(0deg);
                    margin-top: 10px;
                }

                img {
                    max-width: 70px;

                    & + img {
                        margin-left: 20px;
                    }

                }

            }

        }

    }

    &__btn {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;

        .btn-down {
            visibility: hidden;
        }

        svg {
            height: 30px;
            width: 19px;
        }

    }

}