.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    height: 84px;
    display: flex;
    @include breakpoint(tiny down) {
        height: 65px;
    }

    &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        transform: scaleY(-1);
        z-index: -1;
        background: rgba(255, 255, 255, 0);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        @include breakpoint(medium down) {
            width: 120%;
            left: -10%;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        &-wrap {
            display: flex;
            align-items: center;
            flex-basis: 100%;
            justify-content: flex-end;
            position: relative;
            @include breakpoint(tiny down) {
                position: absolute;
                right: 10px;
            }

            .btn-access {
                background: #f00 url(/images/logo-btn.png) no-repeat 12px 50%;
                background-size: 23px;
                width: 100%;
                height: 45px;
                padding: 0 15px 0 45px;
                font-size: 17px;
                color: #fff;
                font-weight: 500;
                opacity: 0;
                visibility: hidden;
                margin-right: 110px;
                transition: opacity .3s, visibility .3s;
                border-radius: 45px;
                max-width: 220px;
                @include breakpoint(small down) {
                    margin-right: 30px;
                    display: none;
                }

                &.fixed {
                    opacity: 1;
                    visibility: visible;
                }

                &.visible__btn {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &-logo {
            display: flex;
            position: relative;
            top: -6px;

            @include breakpoint(tiny down) {
                top: 20px;
                left: 20px;
                position: absolute;
            }
            a {
                max-width: 210px;
                @include breakpoint(tiny down) {
                    max-width: 130px;
                }
            }
        }

        &-btn {
            display: flex;
            align-items: center;

            .btn-enter button {
                color: #fff;
                padding-right: 30px;
                position: relative;
                font-weight: 500;

                &:before {
                    content: '';
                    display: inline-block;
                    width: 19px;
                    height: 20px;
                    background: url(/images/enter.png) 50% 65%;
                    background-size: cover;
                    position: absolute;
                    right: 2px;
                    top: -1px;
                }

                &:hover {
                    color: inherit;

                    &:before {
                        background-image: url(/images/enter1.png);
                    }
                }
            }
        }

        &-profile {
            display: flex;
            justify-content: flex-end;
            position: relative;
            font-size: 17px;
            font-weight: 500;
            z-index: 150;
            cursor: pointer;
            @include breakpoint(tiny down) {
                align-items: center;
                top: 2px;
                right: 10px;
            }

            &.active {

                .header__content-profile-btn {
                    opacity: 1;
                    visibility: visible;
                }

                .header__content-profile-name {
                    @include breakpoint(tiny down) {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &-name {
                margin-right: 15px;
                @include breakpoint(tiny down) {
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility .2s, opacity .2s;
                }
            }
            
            &-avatar {
                width: 28px;
                height: 28px;
                min-width: 28px;
                border-radius: 50%;
                overflow: hidden;
                display: inherit;
                @include breakpoint(tiny down) {
                    width: 33px;
                    height: 33px;
                    min-width: 33px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            &-btn {
                position: absolute;
                color: #fff;
                width: calc(100% + 40px);
                height: 110px;
                left: -20px;
                top: -15px;
                background-color: $color-red;
                z-index: -1;
                border-radius: 5px;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 20px;
                opacity: 0;
                visibility: hidden;
                transition: opacity .4s, visibility .4s;
                @include breakpoint(1024 down) {
                    left: -30px;
                    padding: 20px 30px;
                }
                @include breakpoint(tiny down) {
                    top: -10px;
                }

                a, button {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    color: #fff;
                    font-size: 17px;
                    border-bottom: 1px solid rgba(225,225,225,.5);
                    transition: .3s;
                    line-height: normal;

                    &:hover {
                        border-bottom-color: transparent;
                        color: inherit;
                    }
                }
            }
        }
    }
}