.base {
    padding: 92px 0;

    &__title {
        margin-bottom: 40px;
        @include breakpoint(small down) {
            width: 100%;
        }
        h2 {
            @include breakpoint(small down) {
                font-size: 23px;
                text-align: center;
            }
            @include breakpoint(tiny down) {
                font-size: 23px;
                text-align: center;
                letter-spacing: -.8px;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        padding-bottom: 5px;
        @include breakpoint(1024 down) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include breakpoint(small down) {
           flex-direction: column;
            align-items: center;

        }
        @include breakpoint(tiny down) {
            flex-direction: column;
        }
        &-btn {
            width: 33.33%;
            display: flex;
            justify-content: center;
            @include breakpoint(1024 down) {
               justify-content: center;
                width: 100%;
            }
            @include breakpoint(tiny down) {
                width: 100%;
                justify-content: left;
            }
            .btn-more {
                margin-top: 77px;
                line-height: normal;
                font-size: 17px;
                @include breakpoint(1024 down) {
                    font-size: 22px;
                    font-weight: 700;
                    margin-top: 50px;
                }

                .counter {
                    @include breakpoint(tiny down) {
                        bottom: 20px;
                        top: inherit!important;
                    }
                }

            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            //align-items: center;
            max-width: 308px;
            width: 100%;
            margin-right: 20px;
            @include breakpoint(1024 down) {
                max-width: 500px;
                width: calc(50% - 15px);
                margin-right: 0;
            }
            @include breakpoint(small down) {
                margin-right: 0;
                max-width: 500px;
                width: 100%;

                margin-bottom: 55px;
            }
            @include breakpoint(tiny down) {
                margin-bottom: 45px;
            }

            a {
                display: block;
                height: 100%;

                &:hover {
                    color: inherit;
                }
            }

            &-img {
                width: 100%;
                height: 225px;
                margin-bottom: 36px;
                @include breakpoint(small down) {
                    height: auto;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @include breakpoint(small down) {
                    margin-bottom: 26px;
                }
            }

            &-text {

                p {
                    line-height: 24px;
                    font-size: 16px;
                    max-width: 250px;
                    @include breakpoint(medium down) {
                       max-width: 100%;

                    }

                }

            }
        }

    }
}