.course_for {
    border-top: 1px solid rgb(43, 43, 43);
    padding: 65px 0;
    @include breakpoint(tiny down) {
        padding: 20px 0 120px;
    }

    &__title {
        width: 100%;
        margin-bottom: 18px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        @include breakpoint(small down) {
            margin-bottom: 35px;
            max-width: 100%;
        }
        p {
            line-height: 24px;
            font-size: 18px;
        }
        br {
            @include breakpoint(medium down) {
                display: none;
            }
        }

        &-icon {
            height: 100px;
            display: flex;
            align-items: center;
            @include breakpoint(tiny down) {
                height: 70px;
            }

        }

    }

}