
.feedback {
    padding: 176px 0 0;
    //min-height: 100vh;
    border-bottom: 1px solid rgb(43, 43, 43);
    position: relative;
    display: flex;
    flex-direction: column;
    @include breakpoint(tiny down) {
        padding: 0;
    }

    &__title {
        margin-bottom: 55px;
        transform: rotate(-90deg);
        position: absolute;
        left: 74px;
        top: 48%;
        @include breakpoint(large down) {
            position: relative;
            transform: rotate(0deg);
            top: 0;
            margin-bottom: 40px;
            width: 100%;
            text-align: center;
            left: 0;
        }
        @include breakpoint(tiny down) {
            transform: rotate(0deg);
            position: relative;
            top: 0;
            margin-bottom: 10px;
        }
        h2 {
            font-weight: 700;
            letter-spacing: -0.6px;
            font-size: 50px;
            @include breakpoint(tiny down) {
                font-size: 23px;
            }

        }

    }

    &__wrap {
        display: inline-block;
        width: 100%;
        background-color: #000;
        color: #fff;
    }

    &__slider {
        display: inline-block;
        width: 100%;
        padding: 0 50px;
        margin-bottom: 0 !important;
        @include breakpoint(tiny down) {
            padding: 56px 0 0;
        }



        &-item {
            display: flex !important;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            width: 100%;
            padding: 0;
            @include breakpoint(tiny down) {
                padding: 0;
            }
            .item {

                &__content {
                    max-width: 650px;
                    position: relative;
                    z-index: 10;
                    margin: 0 auto;
                    @include breakpoint(tiny down) {
                        padding-bottom: 56px;
                    }

                    &-name {
                        margin-bottom: 2px;
                        h4 {
                            font-size: 17px;
                            font-weight: 700;
                        }
                        @include breakpoint(tiny down) {
                            position: absolute;
                            bottom: -170px;
                            text-align: center;
                            width: 100%;
                        }
                    }

                    &-text {
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 1.97;
                        color: #ffffff;
                        @include breakpoint(tiny down) {
                            position: absolute;
                            bottom: -190px;
                            text-align: center;
                            width: 100%;
                        }

                    }

                    &-comment {
                        @include breakpoint(tiny down) {
                            flex-basis: 100%;
                        }
                        p {
                            font-weight: 400;
                            margin-bottom: 46px;
                            font-size: 18px;
                            line-height: 1.23;
                            color: #ffffff;

                            @include breakpoint(tiny down) {
                                font-size: 13px;
                                text-align: center;
                                margin-bottom: 0;
                                width: 100%;
                            }

                        }

                    }

                }

                &__photo {
                    display: flex;
                    align-items: center;
                    //position: absolute;
                    right: 0;
                    //top: 50px;
                    z-index: 5;
                    justify-content: flex-end;
                    @include breakpoint(tiny down) {
                        height: 200px;
                        text-align: center;
                    }
                    img {
                        @include breakpoint(tiny down) {
                            height: 100%;
                            margin: 0 auto;
                            text-align: center;
                        }

                    }
                }

            }
        }

        .slick-prev {
            left: 50px;
            @include breakpoint(1024 down) {
                left: 0;
            }
            @include breakpoint(tiny down) {
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 176px;
                top: inherit!important;
            }

        }

        .slick-next {
            right: 50px;
            @include breakpoint(1024 down) {
                right: 0;
            }

            @include breakpoint(tiny down) {
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 0;
            }

        }

        .slick-prev, .slick-next {
            color: white;
            position: absolute;
            display: block;
            width: 30px;
            height: 55px;
            line-height: 0;
            font-size: 0;
            cursor: pointer;
            top: 5%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0;
            border: none;
            z-index: 1000;


            &:before {
                content: '';
                width: 30px;
                height: 55px;
                font-family: 'icons';
                font-size: 46px;
                line-height: 1;

                opacity: .75;
                -webkit-font-smoothing: antialiased;
                @include breakpoint(small down) {
                    color: white;
                }
            }
        }


    }

}