.info_course {
    min-height: 100vh;
    display: flex;
    height: 1300px;
    padding: 50px 0;
    @include breakpoint(1024 down) {
        height: 100%;
        padding: 100px 0 0;
    }
    @include breakpoint(tiny down) {
        height: 100%;
        padding: 50px 0 0;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        
        &-bg {
            position: absolute;
            top: 0;
            //bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
            max-width: 505px;
            @include breakpoint(1024 down) {
                top: 0;
            }
            @include breakpoint(tiny down) {
                max-width: 280px;
            }

            img {
                display: none;
                @include breakpoint(small down) {
                    display: inline-block;
                }
            }

            video {
                max-width: 550px;
                @include breakpoint(small down) {
                    display: none;
                }
            }
        }

        &-title {
            max-width: 960px;
            margin-bottom: 200px;
            @include breakpoint(1024 down) {
                margin-bottom: 170px;
                padding-top: 115px;
            }
            @include breakpoint(tiny down) {
                margin-bottom: 170px;
                padding-top: 115px;
            }

            h1 {
                font-size: 72px;
                text-align: center;
                line-height: normal;
                @include breakpoint(900 down) {
                    max-width: 700px;
                    margin-top: 95px;
                    font-size: 40px;
                }
                @include breakpoint(tiny down) {
                    font-size: 24px;
                    margin-top: 0;
                }
            }
        }

        &-box {
            display: flex;
            width: 100%;
            @include breakpoint(1024 down) {
               flex-wrap: wrap;
            }
            @include breakpoint(tiny down) {
                flex-direction: column;
            }
        }

        &-item {
            width: 25%;
            font-size: 18px;
            padding-left: 40px;
            position: relative;
            line-height: normal;
            @include breakpoint(1024 down) {
                width: 50%;
                padding-left: 0;
                text-align: center;
                padding-top: 40px;
                margin-bottom: 50px;
            }
            @include breakpoint(tiny down) {
                width: 100%;
                padding-left: 0;
                text-align: center;
                padding-top: 40px;
                margin-bottom: 50px;
                font-size: 17px;
            }

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                width: 30px;
                height: 100%;
                @include breakpoint(1024 down) {
                    left: 0;
                    right: 0;
                    top: 0;
                    margin: 0 auto;
                    background-position: 50% 0 !important;
                }
            }

            span {
                font-size: 28px;
                font-weight: 700;
                @include breakpoint(tiny down) {
                    font-size: 26px;
                }
            }

            &.calculator {
                &:before {
                    background-image: url(/images/calk.png);
                    background-position: 50% 12%;
                }
            }

            &.lessons {
                &:before {
                    background-image: url(/images/lessons2.png);
                    background-position: 50% 12%;
                }
            }

            &.clock {
                &:before {
                    background-image: url(/images/clock.png);
                    background-position: 50% 12%;
                }
            }

            &.calendar {
                &:before {
                    background-image: url(/images/calendar.png);
                    background-position: 50% 12%;
                }
            }
        }
    }
}