.knowledge {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;

    &__title {
        margin-bottom: 55px;
        transform: rotate(-90deg);
        position: absolute;
        left: 0;
        bottom: 27%;
        z-index: 80;
        @include breakpoint(medium down) {
            transform: rotate(0deg);
            position: relative;
            top: 0;
            margin-bottom: 25px;
        }

        h2 {
            font-weight: 700;
            letter-spacing: 0.6px;
            font-size: 56px;
            @include breakpoint(tiny down) {
                font-size: 23px;
                font-weight: 600;
            }
        }

    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(small down) {
            width: 100%;
            overflow: hidden;
        }
        @include breakpoint(small down) {

            margin-left: -5px;
        }
        &-img {
            position: relative;
            transform: rotate(-15deg);
            @include breakpoint(small down) {
                margin-top: -70px;
            }
            @include breakpoint(tiny down) {
                transform: rotate(0)!important;
            }
        }

        img {
            @include breakpoint(tiny down) {
                width: 450px;
                max-width: inherit!important;
            }
        }
    }

}