.partners {
    min-height: 100vh;
    padding: 250px 0 0;
    @include breakpoint(tiny down) {
        padding: 0;
    }
    @include breakpoint(tiny down) {
        min-height: 100%;
    }

    &__title {
        max-width: 1200px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(medium down) {
            margin: 0 auto 40px;
            padding: 0 30px;
        }

        h2 {
            line-height: normal;
            @include breakpoint(small down) {
                font-weight: 600;
                text-align: center;
                font-size: 23px;
            }

            br {
                @include breakpoint(small down) {
                    display: none;
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        @include breakpoint(tiny down) {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            max-width: 200px;
            @include breakpoint(1200 down) {
                max-width: 30%;
                width: 100%;
                justify-content: center;
            }
            @include breakpoint(small down) {
                padding: 0 15px;
                max-width: 200px;
            }
            @include breakpoint(tiny down) {
                max-width: 200px;
                padding: 0;
                margin-bottom: 20px;
            }
        }

        .break {
            flex-basis: 100%;
            width: 0;
            height: 0;
            overflow: hidden;
            margin: 25px 0;
            @include breakpoint(1200 down) {
                display: none;
            }
        }
    }
}