.piracy {
    min-height: 0;
    max-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: min-height .3s;
    @include breakpoint(tiny down) {
        min-height: 100%;
        height: 650px;
    }

    &.active {
        min-height: 100vh;
        max-height: 0;
    }

    &__content {
        @include breakpoint(tiny down) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        &-title {
            font-size: 16px;
            text-align: center;
            margin-bottom: 25px;
            @include breakpoint(tiny down) {
                margin-bottom: 0;
                margin-top: 25px;
            }
        }

        &-img {
            text-align: center;
            max-width: 50px;
            margin: 0 auto;


        }
    }




}