.question {
    padding: 317px 0 92px;
    @include breakpoint(tiny down) {
        padding: 195px 0 0;
    }

    &__title {
        margin-bottom: 40px;
            @include breakpoint(tiny down) {
                font-size: 23px;
                font-weight: 600;
            }
    }

    &__content {
        max-width: 964px;
        margin: 0 auto;
        width: 100%;

        .accordion {
            border-bottom: 1px solid rgb(43, 43, 43);
            padding: 0;
            display: inline-block;
            width: 100%;
            list-style: none;
            color: #000;
            background-color: transparent;
            @include breakpoint(medium down) {
                margin: 0;
            }
            @include breakpoint(tiny down) {
                border-bottom: none;
            }

            > li {
                //margin-bottom: 20px;
            }

            &__title {
                display: inline-block;
                width: 100%;
                cursor: pointer;
                color: #fff;
                font-size: 21px;
                font-weight: bold;
                padding: 16px 0;
                position: relative;
                border-top: 1px solid rgb(43, 43, 43);
                transition: color .3s, padding-bottom .4s;
                @include breakpoint(medium down) {
                    height: auto;
                }
                @include breakpoint(small down) {
                    display: flex;
                    align-items: center;
                    padding: 10px 50px 10px 0;
                }
                @include breakpoint(tiny down) {
                    font-size: 17px;
                    border-top: none;
                    padding: 15px 20px 40px 0;
                }
                &:before {
                    content: '';
                    width: calc(100% - 46px);
                    height: 1px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgb(43, 43, 43);
                    display: none;
                    @include breakpoint(tiny down) {
                        display: inline-block;
                    }
                }

                &:after {
                    content: '';
                    width: 19px;
                    height: 19px;
                    position: absolute;
                    right: 0;
                    top: 26px;
                    background-image: url(/images/plus.svg);
                    background-position: 50%;
                    background-repeat: no-repeat;
                    -webkit-background-size: cover;
                    background-size: cover;
                    @include breakpoint(small down) {
                        top: 18px;
                    }
                    @include breakpoint(tiny down) {
                        top: -4px;
                        right: 0;
                        width: 10px;
                        height: 10px;
                    }
                }

                h3 {
                    @include breakpoint(tiny down) {
                        font-size: 36px;
                    }
                }

                &.active {
                    color: #5e5e5e;
                    padding: 18px 0 11px;
                    @include breakpoint(tiny down) {
                        color: #fff;
                    }

                    &:after {
                        background-image: url(/images/minus.svg);
                    }

                    .accordion__content {
                        display: inline-block;
                    }

                }

                .h3 {
                    font-size: 36px;
                    font-weight: 900;
                    display: inline-block;
                    position: relative;
                    width: 234px;
                    margin-bottom: 4px;
                    &:before {
                        content: "\E901";
                        font-family: 'icons';
                        transition: transform .4s;
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 18px;
                        display: inline-block;
                        position: absolute;
                        right: 0;
                        top: 6px;
                        font-size: 26px;
                    }
                    &.empty:before {
                        display: none;
                    }
                    @include breakpoint(small down) {
                        font-weight: 500;
                        font-size: 30px;
                    }
                }

                .sub {
                    font-size: 24px;
                    font-weight: 500;
                    display: inline-block;
                    width: 100%;
                    color: #8e8e8e;
                }
            }

            &__content {
                display: none;
                padding: 0 30px 20px 0;
                font-size: 16px;
                line-height: 32px;
                font-weight: 400;
                color: #fff;
                max-width: 800px;
                @include breakpoint(1024 down) {
                    padding: 0 50px 20px 0;
                }
                @include breakpoint(tiny down) {
                    font-size: 13px;
                    line-height: 20px;
                    padding: 0 0 40px;
                }

            }
        }

    }

}