.subscription {
    padding: 160px 0;
    @include breakpoint(small down) {
        padding: 125px 0;
    }

    &__title {
        max-width: 560px;
        margin-bottom: 84px;
        @include breakpoint(tiny down) {
            margin-bottom: 25px;
        }

        h2 {
            line-height: normal;
            @include breakpoint(small down) {
                font-size: 23px;
                font-weight: 600;
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;

        &-form {
            width: 100%;
            @include breakpoint(small down) {
                flex-direction: column;
                justify-content: space-between;
            }
            .error-message{
                color: red;
            }
            &.hide {
                display: none !important;
            }

            &-row {
                margin-bottom: 25px;
                @include breakpoint(tiny down) {
                    margin-bottom: 0;
                }
            }

            .input-group {
                flex-wrap: wrap;

                @include breakpoint(tiny down) {
                    flex-direction: column;
                }

                .error-message {
                    width: 100%;
                }

            }

            .email {
                border: none;
                border-bottom: 1px solid rgb(43, 43, 43);
                background-color: transparent;
                color: #ffffff;
                max-width: 550px;
                margin-right: 20px;
                height: 48px;
                font-size: 17px;
                padding-left: 0;
                &:focus {
                    box-shadow: none;

                }
            }
            input::placeholder{
                padding-left: 13px;
            }

            .btn-access {
                border-radius: 30px !important;
                width: 146px;
                font-size: 17px;
                @include breakpoint(tiny down) {
                    display: none;
                }

                &:hover {
                    color: #fff;
                }

            }

            .mobile {
                display: none;
                @include breakpoint(tiny down) {
                    display: inline-block;
                    margin-top: 25px;
                }
            }

            .checkbox {
                position: relative;
                padding-left: 30px;

                input[type=checkbox]{
                    display: none;
                }

                input[type=checkbox] + label:before {
                    content: "\2713";
                    color: transparent;
                    display: inline-block;
                    border: 1px solid rgb(94,94,94);
                    font-size: 16px;
                    line-height: 15px;
                    margin: -2px 12px 0 0;
                    height: 15px;
                    width: 15px;
                    text-align: center;
                    vertical-align: middle;
                    transition: color ease 0.3s;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    @include breakpoint(tiny down) {
                        left: 1px;
                        top: 5px;
                    }
                }

                input[type=checkbox]:checked + label:before {
                    color: #818181;
                }

                label {
                    @include breakpoint(tiny down) {
                        //padding-left: 25px;
                    }
                }
                label, a {
                    font-size: 18px;
                    color: rgb(94, 94, 94);
                    line-height: normal;
                    @include breakpoint(tiny down) {
                        font-size: 13px;

                    }
                    
                    br {
                        @include breakpoint(tiny down) {
                            display: none;
                        }
                    }
                }
                a {
                    text-decoration: underline;
                    display: inline-block;
                    @include breakpoint(tiny down) {
                        display: inline;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }

                .user_agree_span {
                    margin: 0;
                }
            }

            &-message {
                color: #d72934;
                margin-top: 3px;
                text-align: left;
                font-size: 18px;
            }

            &-success {
                font-size: 36px;
                color: #818181;
                @include breakpoint(tiny down) {
                    font-size: 30px;
                }
            }
        }

    }

}