.telegram {

    border-bottom: 1px solid rgb(43, 43, 43);
    display: flex;
    align-items: flex-end;
    padding: 217px 0 0;
    @include breakpoint(small down) {
        padding: 54px 0 0;
    }

    &__content {
        display: flex;
        align-items: center;
        position: relative;
        @include breakpoint(small down) {
            flex-direction: column-reverse;
            margin: 0 auto;
        }
        &-wrap {
            overflow: hidden;
        }
        &-img {
            position: relative;
            //transition: all .5s;
            transform: translateY(100%);
            overflow: hidden;
            @include breakpoint(tiny down) {
                transform: translateY(0)!important;
            }
        }

        img {

            @include breakpoint(small down) {
                position: relative;
                left: 11px;
            }

        }

        &-right {
            max-width: 490px;
            font-size: 30px;
            margin-left: -30px;
            @include breakpoint(small down) {
                margin-left: 0;
            }

            .text {
                margin-bottom: 58px;

                @include breakpoint(small down) {
                    margin-bottom: 0;
                }

                p {
                    font-size: 28px;
                    line-height: 36px;
                    @include breakpoint(tiny down) {
                        font-size: 17px;
                        line-height: 25px;
                    }
                }
            }

            .btn-access {
                border-radius: 98px;
                @include breakpoint(small down) {
                    position: absolute;
                    bottom: -70px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }

                &:hover, &:focus {
                    color: inherit;
                }
            }
        }
    }

}