.video_courses {
    min-height: 100vh;
    padding: 115px 0 400px;
    position: relative;
    @include breakpoint(medium down) {
        padding: 115px 0 300px;
    }
    @include breakpoint(tiny down) {
        padding: 115px 0 110px;
    }

    .scrollTop {
        position: fixed;
        right: 25px;
        bottom: 25px;
        width: 100px;
        height: 50px;
        z-index: 200;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0.4s, background 0.4s;
        background: rgba(255,255,255,0.3);
        border-radius: 5px;
        @include breakpoint(small down) {
            display: none;
        }

        &:hover {
            background: rgba(255,255,255,0.4);
        }

        &.visible {
            opacity: 1;
            visibility: visible;
        }

        button {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            color: #fff;
            font-weight: 700;
        }

    }

    &__content {
        width: 100%;
        position: relative;

        &-title {
            width: 535px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            z-index: 50;
            pointer-events: none;
            @include breakpoint(1024 down) {
                position: relative;
                transform: rotate(0deg);
                top: 0;
                margin-bottom: 40px;
                width: 100%;
                text-align: center;
            }
            @include breakpoint(small down) {
                position: relative;
                transform: rotate(0deg);
                top: 0;
                margin-bottom: 40px;
                width: 100%;
                text-align: center;
            }
            @include breakpoint(388 down) {
                text-align: left;
            }

            h2 {
                font-size: 86px;
                font-weight: 900;
                letter-spacing: 0.6px;
                width: 535px;
                transform: rotate(-90deg);
                @include breakpoint(1024 down) {
                    position: relative;
                    transform: rotate(0deg);
                    width: 100%;
                    text-align: center;
                }
                @include breakpoint(small down) {
                    font-size: 50px;
                }
            }
        }

        &-btn {
            max-width: 660px;
            margin: 0 auto 80px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 17px;
            letter-spacing: -.3px;

            .btn-more .text {
                @include breakpoint(tiny down) {
                    font-size: 13px;
                }
            }

            .btn-more .counter {
                top: -10px;
            }
            @include breakpoint(tiny down) {

            }
            @include breakpoint(388 down) {
                font-size: 13px;
                justify-content: flex-start;
                text-align: left;
            }
        }

        &-video {
            display: inline-block;
            width: 100%;
            @include breakpoint(950 down) {
                max-width: 700px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 10px;
            }
            @include breakpoint(small down) {
                max-width: 500px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .item {
                position: relative;
                width: calc(50% - 10px);
                float: left;
                margin-top: 100px;
                transition: transform 0.4s;
                @include breakpoint(950 down) {
                    width: 100%;
                    margin-top: 50px;
                }
                @include breakpoint(small down) {
                    width: 100%;
                }
                @include breakpoint(tiny down) {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.06);
                    @include breakpoint(1024 down) {
                        transform: none;
                    }

                }

                &:nth-child(1) {
                    margin-top: 0;
                }

                &:nth-child(odd) {
                    float: left;
                }

                &:nth-child(even) {
                    float: right;
                    z-index: 50;
                    opacity: .8;
                }

                &:nth-child(2) {
                    margin-top: 150px;
                    z-index: 100;
                    float: right;
                    @include breakpoint(950 down) {
                        margin-top: 50px;
                    }
                    @include breakpoint(small down) {
                        margin-top: 50px;
                    }
                }

                &__link {
                    display: block;
                    font-weight: 400;
                    color: #ffffff;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        color: inherit;
                    }

                    img {
                        width: 100%;
                    }

                    &-img {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-position: center;

                         img {
                             width: 100%;
                             height: 100%;
                             object-fit: cover;
                         }
                    }

                    &-top {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        width: 100%;
                        font-size: 18px;
                        padding: 15px;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 700;
                        @include breakpoint(small down) {
                            font-size: 17px;
                            padding: 10px 15px;
                        }

                        .play {
                            position: relative;
                            z-index: 50;

                            &:hover {
                                opacity: .7;
                            }
                            @include breakpoint(small down) {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }

                    &-text {
                        position: absolute;
                        width: 168px;
                        left: -53px;
                        top: 39%;
                        max-width: 168px;
                        font-size: 14px;
                        @include breakpoint(small down) {
                            transform: rotate(0deg);
                            top: inherit;
                            left: 15px;
                            bottom: 9px;
                        }

                        p {
                            transform: rotate(-90deg);
                            line-height: normal;
                            @include breakpoint(small down) {
                                transform: rotate(0deg);
                            }
                        }
                    }

                    &-bottom {
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        font-size: 14px;
                        padding: 20px;
                        @include breakpoint(small down) {
                            justify-content: flex-end;
                        }

                        span {
                            display: inline-block;
                            padding-left: 35px;
                            position: relative;
                            &:before {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                width: 30px;
                                height: 100%;
                            }
                        }

                        .hd {
                            @include breakpoint(small down) {
                                display: none;
                            }
                            &:before {
                                background-image: url(/images/hd.png);
                                background-position: 50% 65%;
                            }


                        }

                        .series {
                            @include breakpoint(small down) {
                                display: none;
                            }
                            &:before {
                                background-image: url(/images/cinema.png);
                                background-position: 50% 65%;
                            }
                        }

                        .lessons {
                            @include breakpoint(small down) {
                                display: none;
                            }
                            &:before {
                                background-image: url(/images/copy.png);
                                background-position: 50% 65%;
                            }
                        }

                        .info {
                            width: 22px;
                            height: 22px;

                            &:before {
                                background-image: url(/images/info.png);
                                background-position: 50% 65%;
                            }
                        }

                    }
                }
            }

            .icon {
                display: none;
                width: 100%;
                font-size: 13px;
                justify-content: space-between;
                padding-top:  18px;
                @include breakpoint(small down) {
                    display: flex;
                }

                span {
                    display: inline-block;
                    padding-top: 26px;
                    position: relative;
                    width: 30%;
                    text-align: center;
                    &:before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        background-repeat: no-repeat;
                        width: 30px;
                        height: 100%;
                        margin: 0 auto;
                    }

                    &:nth-child(3) {
                        width: 40%;
                    }
                }

                .hd {
                    &:before {
                        background-image: url(/images/hd.png);
                        background-position: 50% 10%;
                    }


                }

                .series {
                    &:before {
                        background-image: url(/images/cinema.png);
                        background-position: 50% 10%;
                    }
                }

                .lessons {
                    &:before {
                        background-image: url(/images/copy.png);
                        background-position: 50% 10%;
                    }
                }
            }

            &-btn {

                width: 50%;
                display: inline-block;
                margin-top: 50px;
                text-align: center;
                @include breakpoint(950 down) {
                    width: 100%;
                    text-align: left;
                }
                @include breakpoint(small down) {
                    width: 100%;
                    text-align: left;
                }
                button.btn-more{
                    cursor: pointer;
                }

                .btn-more {
                    left: -40px;
                    @include breakpoint(950 down) {
                        left: 0;
                    }
                }

                .btn-more .counter {
                    top: -10px;
                }

                br {
                    @include breakpoint(950 down) {
                        display: none;
                    }
                }
            }
        }
    }
}