.video_trailer {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    height: 853px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include breakpoint(1024 down) {
        min-height: 100%;
        height: 650px;
    }
    @include breakpoint(small down) {
        margin-bottom: 125px;
        height: auto;
    }
    @include breakpoint(tiny down) {
        min-height: 100%;
        margin-bottom: 125px;
        height: auto;
    }

    &__bg {
        position: absolute;
        overflow: hidden;
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        opacity: 1;
        @include breakpoint(large down) {
            bottom: 0;
            top: 0;
        }
        @include breakpoint(small down) {
            position: relative;
        }

        img {
            text-align: center;
            width: 100%;
            display: none;
            @include breakpoint(small down) {
                display: block;
            }
        }

        video {
            display: block;
            margin: auto;
            width: 100%;
            position: relative;
            top: -138px;
            @include breakpoint(large down) {
                height: 100%;
                top: -90px;
            }
            @include breakpoint(small down) {
                display: none;
            }
        }

        &:after {
            content: '';
            width: 100%;
            height: 278px;
            display: inline-block;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            transform: scaleY(-1);
            z-index: 1;
            @include breakpoint(tiny down) {
                height: 25px;
            }
        }
    }

    &__play {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(39% - 51px);
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        z-index: 50;
        @include breakpoint(1024 down) {
            top: calc(29% - 28px);
        }
        @include breakpoint(tiny down) {
            top: calc(26% - 28px);
        }
        @include breakpoint(480 down) {
            top: calc(23% - 28px);
        }

        &-btn {
            margin-left: 90px;
            margin-right: 20px;
            @include breakpoint(tiny down) {
               width: 56px;
                height: 56px;
                margin-left: 10px;
                margin-right: 15px;
            }
        }

        &-text {
            text-align: left;
            display: flex;
            position: relative;
            align-items: center;

            p {
                font-size: 17px;
                font-weight: 500;
                line-height: 1;
                @include breakpoint(tiny down) {
                    font-size: 17px;
                }
            }

            span {
                color: $color-red;
                font-size: 14px;
                font-weight: 400;
                position: absolute;
                right: -50px;
                top: 25px;
                @include breakpoint(tiny down) {
                    top: inherit;
                    bottom: -9px;
                    left: 0;
                    font-size: 13px;
                }
            }
        }
    }

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 250px;
        @include breakpoint(1024 down) {
           margin-bottom: 80px;
        }
        @include breakpoint(small down) {
            flex-direction: column;
            margin-bottom: 0;
            justify-content: flex-start;
        }
        @include breakpoint(tiny down) {
            flex-direction: column;
            margin-bottom: 0;
            justify-content: flex-start;
        }

        &-left {
            @include breakpoint(580 down) {
                text-align: center;
            }
            @include breakpoint(tiny down) {
                max-width: 280px;
                margin: 0 auto;
                width: 100%;
                text-align: left;
            }

            p {
                font-size: 28px;
                max-width: 520px;
                font-weight: 500;
                letter-spacing: -.2px;
                line-height: 42px;
                margin-bottom: 18px;
                @include breakpoint(1024 down) {
                    line-height: 1;
                    font-size: 22px;
                    max-width: 390px;
                }
                @include breakpoint(small down) {
                    font-size: 22px;
                    margin-top: 20px;
                    margin-bottom: 35px;
                    max-width: 100%;
                }
                @include breakpoint(tiny down) {
                    line-height: normal;
                }
            }

            a {
                display: block;
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                @include breakpoint(small down) {
                    display: none;
                }
                @include breakpoint(tiny down) {
                    display: none;
                }

                span {
                    width: 175px;
                    color: #fff !important;
                }
            }
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 300px;
            margin-bottom: 10px;
            @include breakpoint(small down) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
            @include breakpoint(580 down) {
                flex-direction: column;
                justify-content: flex-start;
                max-width: 290px;
                margin: 0 auto;
                width: 100%;
            }
            @include breakpoint(580 down) {
                flex-direction: column;
                justify-content: flex-start;
                max-width: 280px;
                margin: 0 auto;
                width: 100%;
            }

            p {
                margin-bottom: 15px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                @include breakpoint(small down) {
                    font-size: 12px;
                }
                @include breakpoint(tiny down) {
                    font-size: 12px;
                }

                .live {
                    color: $color-red;
                    @include breakpoint(small down) {
                        font-weight: 900;
                    }
                    @include breakpoint(tiny down) {
                        font-weight: 900;
                    }

                    &:after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        background-color: $color-red;
                        border-radius: 50%;
                        margin-left: 5px;
                        position: relative;
                        top: 2px;
                        @include breakpoint(small down) {
                            width: 10px;
                            height: 10px;
                            top: 1px;
                        }
                        @include breakpoint(tiny down) {
                            width: 10px;
                            height: 10px;
                            top: 1px;
                        }
                    }
                }
            }

            .btn-season {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-width: 300px;

                button, a {
                    margin-right: 10px;
                    margin-bottom: 10px;
                    @include breakpoint(tiny down) {
                        margin-right: 8px;
                    }

                    &:nth-child(4) {
                        margin-right: 0;
                    }
                }
            }

            .btn-access-big {
                display: none;
                border-radius: 5px;
                @include breakpoint(small down) {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    margin-top: 15px;
                }
                @include breakpoint(580 down) {
                    max-width: 280px;
                    width: 100%;
                }
                @include breakpoint(tiny down) {
                    font-size: 12px;
                }
            }

            .btn-present {
                display: none;
                @include breakpoint(small down) {
                    display: flex;
                    margin-bottom: 15px;
                }
                @include breakpoint(580 down) {
                    max-width: 280px;
                    width: 100%;
                }
                @include breakpoint(tiny down) {
                    display: flex;
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__down {
        display: inline-block;
        position: absolute;
        bottom: 250px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 33px;
        height: 19px;
        z-index: 100;
        @include breakpoint(1024 down) {
            bottom: 40px;
        }
        @include breakpoint(small down) {
            display: none;
        }
        @include breakpoint(tiny down) {
            display: none;
        }

        svg {
            height: 30px;
            width: 19px;
        }
    }
}