.whats_new {

    border-top: 1px solid rgb(43, 43, 43);
    padding: 30px 0;
    height: 475px;
    position: relative;
    z-index: 10     ;
    @include breakpoint(tiny down) {
        border: none;
        padding: 0;
        height: 100%;
    }

    .row {
        position: relative;
    }

    &-bg {
        position: absolute;
        right: 0;
        top: -85px;
        z-index: -1;
        opacity: .35;
        @include breakpoint(small down) {
            display: none;
        }

    }

    &__title {
        margin-bottom: 45px;
        h2 {
            @include breakpoint(tiny down) {
                font-size: 24px;
                font-weight: 900;
            }
        }

    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @include breakpoint(1024 down) {
            flex-wrap: wrap;
        }
        @include breakpoint(tiny down) {
            flex-direction: column;
            align-items: center;
        }


        &-item {
            width: 224px;
            //padding-right: 15px;
            @include breakpoint(1024 down) {
                width: 50%;
                padding: 0 15px;
                margin-bottom: 50px;
            }
            @include breakpoint(tiny down) {
                width: 100%;
                padding-left: 0;
                margin-bottom: 50px;
            }

            h4 {
                color: $color-red;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin-bottom: 7px;
                @include breakpoint(tiny down) {
                    text-align: center;
                    font-size: 17px;
                    margin-bottom: 25px;
                }
            }

            p {
                font-weight: 400;
                font-style: normal;
                letter-spacing: 0px;
                text-transform: none;
                font-size: 16px;
                line-height: 25px;
                @include breakpoint(tiny down) {
                    text-align: center;
                    font-size: 13px;
                    line-height: normal;

                }

            }
        }
    }
}