.blog-post-content {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 965px;
    margin: auto;
    @include breakpoint(medium down) {
        padding: 0 30px;
    }
    @include breakpoint(tiny down) {
        padding: 0 20px;
    }

    & > p,
    & > h5,
    & > ol,
    & > img,
    & > ul {
        max-width: 635px;
        @include breakpoint(small down) {
            max-width: unset;
            width: 100%;
        }

    }

    & > p {
        font-size: 17px;
        letter-spacing: -.5px;
        margin: 25px auto 0;
        line-height: 24px;
        @include breakpoint(small down) {
            margin: 25px 0 0;
            font-size: 15px;
            line-height: 20px;
        }

    }

    .ask-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 125px;
        margin-bottom: 50px;
        @include breakpoint(small down) {
            margin-top: 75px;
            flex-direction: column-reverse;
            align-items: flex-start;
        }

         p {
             font-size: 26px;
             letter-spacing: -.5px;
             line-height: 32px;
             font-weight: 500;

             br {
                @include breakpoint(small down) {
                    display: none;
                }

             }

         }

        img {
            border-radius: 5px;
            margin-left: 15px;
            @include breakpoint(small down) {
                width: 100%;
                margin-left: 0;
                margin-bottom: 25px;
            }

        }

    }

    h5 {
        font-size: 26px;
        margin: 100px auto 0;
        font-weight: bold;
        letter-spacing: -.5px;
        line-height: 32px;
        @include breakpoint(small down) {
            margin: 100px 0 0;
        }
        @include breakpoint(tiny down) {
            margin: 75px 0 0;
        }

    }

    ol {
        list-style: none;
        margin: auto;

        li {
            margin-top: 25px;
        }

    }

    & > img {
        margin: 65px auto;
        display: block;
        border-radius: 5px;
        @include breakpoint(small down) {
            margin: 65px 0;
        }

    }

    iframe {
        margin: 75px auto 75px -155px;
        display: block;
        width: 962px;
        height: 540px;
        @include breakpoint(1024 down) {
            width: 100%;
            margin: 75px auto;
            min-height: 350px;
            height: unset;
        }
        @include breakpoint(tiny down) {
            width: 300px;
            min-height: unset;
            height: 165px;
            margin: 50px auto;
        }

    }

    blockquote {
        padding: 0;
        margin: 75px 0 0;
        border: none;
        max-width: 685px;
        @include breakpoint(small down) {
            max-width: unset;
        }
        @include breakpoint(tiny down) {
            margin: 50px 0 0;
        }

        p {
            font-size: 26px;
            line-height: 32px;
            letter-spacing: -.5px;
            color: #f00;
            @include breakpoint(tiny down) {
                font-size: 24px;
                line-height: 28px;
            }

        }

        span {
            color: #f00;
            display: block;
            margin-left: 165px;
            font-size: 16px;
            margin-top: 25px;
            @include breakpoint(small down) {
                margin-left: 0;
            }

        }

    }

    ul {
        list-style: none;
        margin: 90px auto 0;
        @include breakpoint(small down) {
            margin: 50px 0 0;
        }

        li {
            margin-top: 25px;
            line-height: 24px;
            font-size: 17px;
            letter-spacing: -.5px;
            @include breakpoint(small down) {
                font-size: 15px;
                line-height: 20px;
            }

        }

    }

    .content-quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 35px 0;
        &__text {
            width: 100%;
            margin-bottom: 25px;
            p {
                max-width: 720px;
                line-height: normal;
                font-size: 26px;
                color: $color-red;
                @include breakpoint(small down) {
                    max-width: unset;
                    width: 100%;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }

        &__autor {
            max-width: 635px;
            width: 100%;
            @include breakpoint(small down) {
                max-width: unset;
                width: 100%;
            }

            p {
                font-size: 17px;
                color: $color-red;
                line-height: normal;
            }

        }
    }

    .content-block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 190px 0 50px;
        @include breakpoint(small down) {
            flex-direction: column;
            margin: 50px 0;
        }

        &__text, &__photo {
            width: 50%;
            min-width: calc(50% - 10px);
            @include breakpoint(small down) {
                max-width: unset;
                width: 100%;
            }

        }
        &__photo {
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__text {
            padding: 25px 0;

            p {
                font-size: 24px;
                line-height: normal;
                @include breakpoint(small down) {
                    margin: 25px 0 0;
                    font-size: 18px;
                    line-height: 20px;
                }
            }

        }
    }

}