.blog-post-heading {
    position: relative;
    height: 765px;
    @include breakpoint(small down) {
        padding: 100px 30px 0;
    }
    @include breakpoint(tiny down) {
        height: auto;
        padding: 100px 20px 0;
    }

    & > img {
        opacity: 0.6;
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include breakpoint(small down) {
            border-radius: 5px;
        }

    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        max-width: 1000px;
        width: 100%;
        font-weight: bold;
        font-size: 55px;
        line-height: 65px;
        max-height: max-content;
        @include breakpoint(medium down) {
            font-size: 50px;
            width: calc(100% - 30px);
            left: 15px;
            font-weight: 900;
        }
        @include breakpoint(900 down) {
            font-size: 42px;
            line-height: 55px;
            font-weight: bold;
            letter-spacing: -.5px;
        }
        @include breakpoint(small down) {
            width: calc(100% - 90px);
            left: 45px;
        }
        @include breakpoint(tiny down) {
            position: static;
            margin-top: 25px;
            text-align: left;
            font-size: 28px;
            line-height: 38px;
            width: 100%;
        }

        br {
            @include breakpoint(medium down) {
                display: none;
            }

        }

    }

    .heading-icons {
        position: absolute;
        bottom: 65px;
        left: 0;
        right: 0;
        text-align: center;
        @include breakpoint(tiny down) {
            position: static;
            text-align: left;
            margin-top: 25px;
            display: flex;
        }

        & > div {
            display: inline-block;
            margin: 0 20px;
            @include breakpoint(tiny down) {
                margin: 0 40px 0 0;
                display: flex;
                align-items: center;
            }

        }

        img {
            margin-right: 5px;
            @include breakpoint(tiny down) {
                margin-right: 15px;
            }

        }

        &-shared {

            img {
                @include breakpoint(tiny down) {
                    width: 25px;
                }

            }

        }

        &-viewed {
            @include breakpoint(tiny down) {
                margin: 0;
            }

            img {
                @include breakpoint(tiny down) {
                    width: 35px;
                }

            }

        }

        span {
            @include breakpoint(tiny down) {
                font-size: 20px;
            }

        }

    }

}