.blog-post-tags {

    .tag-cloud-section {
        padding-top: 15px;
        @include breakpoint(small down) {
            padding-top: 50px;
        }

    }

}

.blog-post-comments {
    @include breakpoint(small down) {
        padding: 0 20px;
    }

    .comments {
        max-width: 635px;
        margin: 60px auto 0;
        @include breakpoint(small down) {
            max-width: unset;
            width: 100%;
            margin: 60px 0 0;
        }

    }

}

.blog-post-database {

    &.database {
        margin-bottom: 225px;
        margin-top: 125px;
        @include breakpoint(tiny down) {
            margin-bottom: 100px;
        }

        h2 {
            font-size: 26px;
        }

        .database-wrapper {
            //justify-content: flex-start;

            .more-materials {
                margin-left: 50px;
                line-height: 20px;
                @include breakpoint(tiny down) {
                    font-size: 23px;
                    font-weight: bold;
                    padding-bottom: 4px;
                    top: 0;
                }

            }

        }

        .database-item {
            //margin-right: 25px;
            //margin-bottom: 25px;
            @include breakpoint(small down) {
                margin-right: 0;
                margin-left: 0;
                max-width: unset;
                width: 100%;
            }

            a {
                display: block;

                &:hover {

                    p {
                        color: #fff;
                    }

                }

                img {
                    @include breakpoint(small down) {
                        width: 100%;
                    }

                }

            }

            &-description {
                font-size: 17px;
                letter-spacing: -.5px;
                line-height: 24px;
                margin-top: 35px;
            }

        }

    }

}