.comments {
    margin-top: 140px;

    h4 {
        display: inline-block;
        margin-bottom: 32px;

        sup {
            font-size: 13px;
            top: -13px;
        }

    }

    &-item {
        margin-bottom: 10px;
        clear: both;

        #show_more_comments {
            width: auto !important;
            color: #848484 !important;
            border-bottom: 1px dashed #848484;
            font-size: 13px;
            float: right;
            margin: 25px 0;
        }

        &.comments-item-0 {
            margin-top: 40px;
        }

        .add-child {
            margin-top: 20px;
        }

        &-1 {
            margin-left: 25px;
        }

        &-2 {
            margin-left: 50px;
        }

        &-3 {
            margin-left: 75px;
        }

        &-4 {
            margin-left: 100px;
        }

        &-5 {
            margin-left: 125px;
        }

        &-6 {
            margin-left: 150px;
        }

        .text {
            font-size: 17px;
            margin-bottom: 13px;
            line-height: 24px;
        }

        .info {
            color: white;
            max-width: 475px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include breakpoint(small down) {
                flex-wrap: wrap;
            }

            a {
                font-size: 12px;
                color: #848484;
                font-weight: bold;

                &:hover {
                    color: #848484;
                }

            }

            span {
                font-size: 13px;
                color: #848484;
                @include breakpoint(tiny down) {
                    order: 4;
                    width: 100%;
                }

            }

            .reply {
                color: #848484;
                border-bottom: 1px dashed #848484;
                font-size: 13px;

                &:hover {
                    border-bottom: 1px dashed transparent;
                }

            }

            .likes {
                color: white;

                button {
                    width: 25px;
                    height: 25px;
                }

                &-up {
                    background: url(/images/like.png) no-repeat center;
                }

                &-down {
                    background: url(/images/dislike.png) no-repeat center;
                }

            }

        }

    }

    .reply {
        color: #848484;
        border-bottom: 1px dashed #848484;
        font-size: 13px;

        &:hover {
            border-bottom: 1px dashed transparent;
        }

    }

    .likes {
        color: white;

        button {
            width: 25px;
            height: 25px;
        }

        &-up {
            background: url(/images/like.png) no-repeat center;
        }

        &-down {
            background: url(/images/dislike.png) no-repeat center;
        }

    }

    .more-comments {

        span {
            border-bottom: 1px solid #848484;
            font-size: 17px;
            color: #fff;
        }

        &:hover {

            span {
                border-bottom: 1px solid transparent;
            }

        }

    }

    .add-new-comment {
        margin: 10px 0;
    }

    .add-new-comment,
    .comments-div,
    .add-child {

        textarea {
            background-color: transparent;
            color: #fff;
            margin-bottom: 15px;
            border-radius: 5px;
            box-shadow: none;
            border: 1px solid #7f7f7f;
            width: 100%;
        }

        .add_comment {
            margin-right: 10px;
            //width: auto;
        }

        .add_new, .add_comment, .close_comment {
            height: 42px;
            background-color: $color-red;
            padding: 0 15px;
            //display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #ffffff;
            border-radius: 5px;
            transition: background-color .5s;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: darken($color-red, 15%);
            }

        }

    }

}