.course-list {
    padding: 100px 0;

    &__title {
        margin-top: 104px;
        margin-bottom: 48px;
        @include breakpoint(tiny down) {
            margin-top: 25px;
        }

        h2 {
            font-size: 76px;
            font-weight: 900;
            @include breakpoint(tiny down) {
                margin-top: 0;
                font-weight: 700;
                font-size: 56px;
                line-height: 1;
            }
        }
    }

    &__sub {
        display: flex;
        justify-content: space-between;
        margin-bottom: 242px;
        @include breakpoint(small down) {
            flex-direction: column;
            margin-bottom: 190px;
        }

        &-left {
            @include breakpoint(small down) {
                margin-bottom: 70px;
            }

            p {
                font-size: 36px;
                line-height: 42px;
                @include breakpoint(small down) {
                    font-size: 28px;
                    line-height: normal;
                }
            }
        }

        &-right {

            p {
                font-size: 17px;
                margin-bottom: 18px;
                line-height: 21px;
                max-width: 422px;
                letter-spacing: -0.4px;
                @include breakpoint(small down) {
                    max-width: 100%;
                    margin-bottom: 22px;
                }
            }
        }

        div {
            width: calc(50% - 10px);
            @include breakpoint(small down) {
                width: 100%;
            }
        }

        &-btn {
            display: none;
            justify-content: center;
            @include breakpoint(tiny down) {
                display: flex;
            }

            .btn-access {
                display: inline-block;
                background: #f00 url(/images/logo-btn.png) no-repeat 12px 50%;
                width: 100%;
                height: 45px;
                background-size: 23px;
                padding: 0 15px 0 20px;
                font-size: 17px;
                color: #fff;
                font-weight: 500;
                max-width: 300px;
                margin: 25px auto 0;
            }
        }
    }

    &__wrap {
        width: 100%;
        margin-bottom: 145px;
        @include breakpoint(tiny down) {
            margin-bottom: 0;
        }

        &-title {
            margin-bottom: 36px;
            @include breakpoint(tiny down) {
                margin-bottom: 50px;
            }

            h2 {
                font-size: 76px;
                font-weight: 900;
                @include breakpoint(tiny down) {
                    font-size: 52px;
                    line-height: normal;
                }
            }
        }

        &-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include breakpoint(950 down) {
                max-width: 700px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 10px;
            }

            .item {
                position: relative;
                width: calc(50% - 10px);
                margin-bottom: 20px;
                @include breakpoint(950 down) {
                    width: 100%;
                }
                @include breakpoint(tiny down) {
                    width: 100%;
                    margin-bottom: 60px;
                }

                &__link {
                    display: inline-block;
                    font-weight: 400;
                    color: #ffffff;
                    width: 100%;
                    position: relative;
                    overflow: hidden;

                    &:hover {
                        color: inherit;
                    }

                    img {
                        width: 100%;
                    }

                    &-img {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }

                    &-top {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        width: 100%;
                        font-size: 18px;
                        padding: 15px;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 700;
                        @include breakpoint(small down) {
                            font-size: 17px;
                            padding: 10px 15px;
                        }

                        .play {
                            @include breakpoint(small down) {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }

                    &-text {
                        position: absolute;
                        width: 168px;
                        left: -53px;
                        top: 39%;
                        max-width: 168px;
                        font-size: 14px;
                        @include breakpoint(small down) {
                            transform: rotate(0deg);
                            top: inherit;
                            left: 15px;
                            bottom: 9px;
                        }

                        p {
                            transform: rotate(-90deg);
                            line-height: normal;
                            @include breakpoint(small down) {
                                transform: rotate(0deg);
                            }
                        }
                    }

                    &-bottom {
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        font-size: 14px;
                        padding: 15px;
                        @include breakpoint(small down) {
                            justify-content: flex-end;
                        }

                        span {
                            display: inline-block;
                            padding-left: 35px;
                            position: relative;

                            &:before {
                                content: '';
                                display: inline-block;
                                position: absolute;
                                left: 0;
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                width: 30px;
                                height: 100%;
                            }
                        }

                        .hd {
                            @include breakpoint(small down) {
                                display: none;
                            }

                            &:before {
                                background-image: url(/images/hd.png);
                                background-position: 50% 65%;
                            }
                        }

                        .series {
                            @include breakpoint(small down) {
                                display: none;
                            }

                            &:before {
                                background-image: url(/images/cinema.png);
                                background-position: 50% 65%;
                            }
                        }

                        .lessons {
                            @include breakpoint(small down) {
                                display: none;
                            }

                            &:before {
                                background-image: url(/images/copy.png);
                                background-position: 50% 65%;
                            }
                        }

                        .info {
                            width: 22px;
                            height: 22px;

                            &:before {
                                background-image: url(/images/info.png);
                                background-position: 50% 65%;
                            }
                        }
                    }
                }

                &__icon {
                    display: none;
                    width: 100%;
                    font-size: 13px;
                    justify-content: space-between;
                    margin-top: 16px;
                    @include breakpoint(small down) {
                        display: flex;
                        margin-bottom: 25px;
                    }

                    span {
                        display: inline-block;
                        padding-top: 26px;
                        position: relative;
                        width: 30%;
                        text-align: center;

                        &:before {
                            content: '';
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 100%;
                            margin: 0 auto;
                        }

                        &:nth-child(3) {
                            width: 40%;
                        }
                    }

                    .hd {

                        &:before {
                            background-image: url(/images/hd.png);
                            background-position: 50% 10%;
                        }
                    }

                    .series {

                        &:before {
                            background-image: url(/images/cinema.png);
                            background-position: 50% 10%;
                        }
                    }

                    .lessons {

                        &:before {
                            background-image: url(/images/copy.png);
                            background-position: 50% 10%;
                        }
                    }
                }
            }
        }
    }
}