#payment-form {
    width: 40%;
    display: block;
    margin: auto;
}

#submit_payment {
    display: block;
    background: #666EE8;
    color: white;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, 0.10),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 0;
    margin: 20px auto;
    font-size: 15px;
    font-weight: 400;
    height: 40px;
    line-height: 38px;
}

.home-header {
    background-color: black;
    .top-bar {
        background-color: black;
        ul {
            background-color: black;
            li {
                a {
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }
        .top-bar-right {
            .menu {
                li {
                    button {
                        background-color: #333;
                        border-radius: 4px;
                    }
                    input {
                        border-radius: 4px;
                    }
                }

            }
        }
    }
}

.home-footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    a {
        color: white;
    }
    .mailing-container {
        button {
            background-color: #333;
            border-radius: 4px;
        }
        input {
            border-radius: 4px;
        }
    }
}

.home-page {
    background-color: #090909;

    .banner-container {
        height: 650px;
        background-color: black;

        .banner-wrapper {
            height: 100%;
            overflow: hidden;
            .banners {
                margin: 0;
                height: 100%;
                .banners-item {
                    height: 100%;
                    img {
                        max-height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }

    .course-list {
        height: auto;
        overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: center;

        .course-item {
            position: relative;
            padding: 20px;
            img {
                width: 100%;
                height: 100%;
            }
            a {
                width: 100%;
                height: 100%;
                display: block;
                border: 1px rgba(255, 255, 255, 0.5) solid;

                .course-item-details {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    color: white;
                    text-transform: uppercase;
                    p {
                        margin: 0;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }

}



