.info-page {
  padding-top: 178px;
  padding-bottom: 273px;

  @include breakpoint(1024 down) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include breakpoint(544 down) {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    margin-bottom: 42px;
    font-size: 52px;
    text-align: center;
    font-weight: bold;

    @include breakpoint(991 down) {
      font-size: 38px;
    }

    @include breakpoint(768 down) {
      font-size: 33px;
    }
    @include breakpoint(660 down) {
      font-size: 26px;
    }
    @include breakpoint(544 down) {
      font-size: 39px;
      margin-bottom: 83px;
      text-align: left;
    }
    @include breakpoint(500 down) {
      font-size: 34px;
    }
    @include breakpoint(460 down) {
      font-size: 31px;
    }
    @include breakpoint(420 down) {
      font-size: 27px;
    }
    @include breakpoint(375 down) {
      font-size: 24px;
    }
    @include breakpoint(320 down) {
      font-size: 22px;
    }

    sup {
      color: #ff0000;
      font-size: 27%;
      top: -2.5em;
      font-weight: 400;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 34px;
    margin-bottom: 16px;

    @include breakpoint(544 down) {
      font-size: 27px;
      margin-top: 74px;
      margin-bottom: 28px;
    }
    @include breakpoint(455 down) {
      font-size: 25px;
    }
    @include breakpoint(375 down) {
      font-size: 21px;
    }
    @include breakpoint(320 down) {
      font-size: 17px;
    }
  }

  h5 {
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    @include breakpoint(544 down) {
      font-size: 22px;
    }
    @include breakpoint(455 down) {
      font-size: 20px;
    }
    @include breakpoint(375 down) {
      font-size: 17px;
    }
    @include breakpoint(320 down) {
      font-size: 14px;
    }
  }

  p {
    font-size: 13px;
    margin-bottom: 18px;
    line-height: 1.4;

    @include breakpoint(544 down) {
      font-size: 22px;
      margin-bottom: 31px;
    }
    @include breakpoint(455 down) {
      font-size: 19px;
    }
    @include breakpoint(375 down) {
      font-size: 17px;
    }
    @include breakpoint(320 down) {
      font-size: 15px;
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  ul {
    margin-bottom: 23px;
    p {
      font-size: 14px;
      margin-bottom: 0;
      @include breakpoint(544 down) {
        font-size: 22px;
      }
      @include breakpoint(455 down) {
        font-size: 19px;
      }
      @include breakpoint(375 down) {
        font-size: 17px;
      }
      @include breakpoint(320 down) {
        font-size: 15px;
      }
    }

    li {
      font-size: 14px;
      margin-left: 15px;
      @include breakpoint(544 down) {
        font-size: 22px;
      }
      @include breakpoint(455 down) {
        font-size: 19px;
      }
      @include breakpoint(375 down) {
        font-size: 17px;
      }
      @include breakpoint(320 down) {
        font-size: 15px;
      }
    }
  }

  ol {
    margin-left: 0;
    p {
      font-size: 14px;
      margin-bottom: 0;
      @include breakpoint(544 down) {
        font-size: 22px;
      }
      @include breakpoint(455 down) {
        font-size: 19px;
      }
      @include breakpoint(375 down) {
        font-size: 17px;
      }
      @include breakpoint(320 down) {
        font-size: 15px;
      }
    }
    li {
      font-size: 14px;
      @include breakpoint(544 down) {
        font-size: 22px;
      }
      @include breakpoint(455 down) {
        font-size: 19px;
      }
      @include breakpoint(375 down) {
        font-size: 17px;
      }
      @include breakpoint(320 down) {
        font-size: 15px;
      }
    }
  }
}