.reveal-overlay {
    text-align: center;
}

.modal {

    &-info {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 50px 0;
        width: 470px;
        @include breakpoint(small down) {
            min-height: 100vh;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }

    &-dialog {
        background-color: rgb(45, 45, 45);
        border-radius: 5px;
        border: 0 solid rgb(255,255,255);
        box-sizing: border-box;
        @include breakpoint(small down) {
            height: 100%;
            width: 100%;
            box-shadow: none;
            -webkit-box-shadow: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }

        .enter-box {
            padding: 40px 80px;
            text-align: center;
            @include breakpoint(tiny down) {
                padding: 30px 20px;
            }

            &__title {
                margin-bottom: 25px;
                line-height: 22px;
                font-size: 18px;
                text-align: center;
                font-weight: 400;
            }

            &__form {
                width: 100%;
            }
        }

        .form {

            &-group {
                margin-bottom: 20px;

                .error-message {
                    display: none;
                    color: #d72934;
                    margin-top: 3px;
                    text-align: center;
                }
                .success-message {
                    display: none;
                    color: #93d79a;
                    margin-top: 3px;
                    text-align: center;
                }
            }

            &-control {
                border-radius: 5px;
                background-color: black !important;
                border: 1px rgb(0, 0, 0) solid;
                display: block;
                width: 100%;
                height: 50px;
                color: white !important;

                &::placeholder {
                    color: #7f7f7f;
                }

                &:focus {
                    border: 2px $color-red solid;
                    box-shadow: none;
                }
            }
        }

        .btn {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            padding: 8px 30px;
            text-indent: 0;
            line-height: 26px;
            background-color: rgb(255, 0, 0);
            border-radius: 5px;
            border: 3px solid $color-red;
            font-weight: 700;
            font-style: normal;
            color: rgb(255, 255, 255);
            font-size: 18px;
            letter-spacing: 0;
            @include breakpoint(tiny down) {
                padding: 10px 15px;
            }
            @include breakpoint(380 down) {
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover {
                background-color: rgb(0, 0, 0);
                border-radius: 5px;
                color: rgb(255, 0, 0);
            }
        }
    }

    &-content {
        padding-top: 35px;
        padding-bottom: 50px;

        .link:hover {
            color: $color-red!important;
        }
    }

    &-close {
        top: 15px;
        right: 15px;
        padding: 0;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        z-index: 200;
        @include breakpoint(799 down) {
            top: 20px;
            right: 40px;

        }
        @include breakpoint(tiny down) {
            top: 10px;
            right: 32px;
            width: 18px;
            height: 18px;
        }
    }
}

#modal-registration {
    .modal-dialog {
        @include breakpoint(tiny down) {
            height: auto;
        }
    }
}