.header {
    position: fixed;
    top: 0;
    width: 100%;
    @include breakpoint(768 down) {
        position: static;
        margin-top: 20px;
        top: unset;
    }

    .row {
        max-width: 1024px;
    }

    .columns {
        padding: 0;
    }

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 30px 0 30px;
        background: rgba(0,0,0,0.7);
        height: 75px;
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.7);
        @include breakpoint(tiny down) {
            justify-content: center;
        }

        &-label {
            @include breakpoint(tiny down) {
                display: none;
            }

        }

    }

}

.presale {

    .row {
        max-width: 1024px;
    }

    .columns {
        padding: 0;
    }

    .knowledge {
        position: fixed;
        top: 182px;
        bottom: 0;
        font-size: 24px;
        margin: auto;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        height: 45px;
        @include breakpoint(1200 down) {
            display: none;
        }

    }

    &-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 125px 30px 100px 30px;
        @include breakpoint(1500 down) {
            padding: 110px 30px 0 30px;
        }
        @include breakpoint(768 down) {
            padding: 50px 0 0;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column-reverse;
        }

        &-left {
            @include breakpoint(1024 down) {
                padding-right: 25px;
            }
            @include breakpoint(768 down) {
                padding-right: 0;
                max-width: 450px;
                margin: 75px auto 0;
            }
            @include breakpoint(tiny down) {
                margin: 50px auto 0;
            }

            h1 {
                font-size: 36px;
                font-weight: bold;
                margin-top: 5px;
                margin-bottom: 40px;
                letter-spacing: -.7px;
                line-height: normal;
                @include breakpoint(768 down) {
                    text-align: center;
                }

                br {
                    @include breakpoint(tiny down) {
                        display: none;
                    }

                }

            }

            h5 {
                font-weight: 900;
                font-size: 17px;
                letter-spacing: -.9px;
                margin-bottom: 30px;
            }

            .presale-speakers {
                list-style: none;

                li {
                    margin-bottom: 30px;

                    p {
                        font-size: 23px;
                        font-weight: 400;
                        letter-spacing: -.5px;
                    }

                    span {
                        display: block;
                        line-height: 22px;
                    }

                }

            }

            .presale-format {
                margin-top: 125px;
                padding-right: 30px;
                @include breakpoint(tiny down) {
                    margin-top: 65px;
                    border-top: 1px solid #313131;
                    padding-top: 50px;
                }

                h4 {
                    font-size: 23px;
                    letter-spacing: -.3px;
                    margin-bottom: 15px;
                }

                p {
                    line-height: 25px;
                    font-size: 17px;
                    letter-spacing: -.5px;
                    margin-bottom: 18px;
                }

            }

            .presale-tickets {
                font-size: 23px;
                line-height: 32px;
                font-weight: 400;
                margin-top: 115px;
                padding-right: 30px;
            }

            .presale-location {
                color: #f00;
                font-weight: bold;
                font-size: 26px;
                letter-spacing: -.5px;
                margin-top: 85px;
            }

            .footer {
                padding-bottom: 60px;
                padding-top: 80px;
                position: relative;
                @include breakpoint(tiny down) {
                    text-align: center;
                }

                &__content {

                    &-item {
                        @include breakpoint(1024 down) {
                            margin-bottom: 30px;
                        }

                        .footer-copyright {
                            color: #5e5e5e;
                            font-size: 15px;
                            letter-spacing: -.2px;
                            margin-top: 60px;
                        }

                        .mail {
                            margin-top: 30px;
                            margin-bottom: 3px;
                            font-size: 17px;

                            p {
                                line-height: 22px;
                            }

                            a {
                                display: inline-block;
                                width: 100%;

                                &:hover {
                                    color: #fff;
                                }

                            }

                        }

                        .cards {
                            margin-top: 14px;
                            display: flex;
                            align-items: center;
                            @include breakpoint(tiny down) {
                                margin-top: 0;
                                justify-content: center;
                                padding: 25px 0;
                            }

                            img  {
                                max-width: 70px;

                                & + img {
                                    margin-left: 20px;
                                }

                            }

                        }

                        .phone {
                            margin-bottom: 25px;
                            @include breakpoint(tiny down) {
                                margin-bottom: 10px;
                            }

                            a {
                                font-size: 24px;
                                color: $color-red;
                                font-weight: 700;

                                &:hover {
                                    color: $color-red;
                                }

                            }

                            span {
                                color: rgb(94, 94, 94);
                                font-size: 12px;
                                display: inline-block;
                                line-height: 12px;
                            }

                        }

                        .soc {
                            list-style: none;

                            li {
                                display: inline-block;
                                margin-right: 30px;
                                @include breakpoint(tiny down) {
                                    margin: 0 15px;
                                }

                                a {

                                    img {
                                        width: 22px;
                                        @include breakpoint(tiny down) {
                                            width: 35px;
                                            height: 35px;
                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

        &-right {
            flex-basis: 475px;
            flex-shrink: 0;
            @include breakpoint(1024 down) {
                flex-basis: 325px;
            }
            @include breakpoint(768 down) {
                flex-basis: unset;
                max-width: 450px;
                width: 100%;
            }

            .form-box {
                background: #2D2D2D;
                position: fixed;
                width: 475px;
                top: 130px;
                border-radius: 5px;
                @include breakpoint(1400 down) {
                    top: 100px;
                }
                @include breakpoint(1024 down) {
                    width: 325px;
                }
                @include breakpoint(768 down) {
                    position: static;
                    top: unset;
                    width: 100%;
                }

                .form {
                    padding: 65px 85px 75px 85px;
                    @include breakpoint(1400 down) {
                        padding: 30px 40px 40px 40px;
                    }
                    @include breakpoint(1024 down) {
                        padding: 25px 25px 40px 25px;
                    }

                    h5 {
                        font-weight: 700;
                        font-size: 22px;
                        letter-spacing: -.4px;
                        margin-bottom: 13px;
                    }

                    p {
                        font-size: 17px;
                        line-height: 24px;
                        letter-spacing: -.3px;
                    }

                    .form-price {
                        margin-top: 13px;
                        text-align: center;

                        span {
                            font-weight: 900;
                            font-size: 32px;
                            letter-spacing: -.7px;

                            sup {
                                text-decoration: line-through;
                                text-decoration-color: #f00;
                                font-weight: 700;
                                font-size: 22px;
                                margin-left: 15px;
                                color: #A5A5A5;
                            }

                        }

                    }

                    .input-box {

                        .form-error {
                            display: none;
                        }

                        input[type="text"], input[type="email"], input[type="tel"] {
                            margin-top: 15px;
                            padding-left: 13px;
                            height: 47px;
                            border-radius: 4px;
                            background: #000;
                            border: 1px solid #383838;
                            box-shadow: none;
                            transition: border 0.4s;
                            color: white;

                            &:focus {
                                border: 1px solid #f00;
                            }

                        }

                        input[type="tel"] {
                            padding-left: 60px;
                        }

                        .intl-tel-input {
                            margin-bottom: 15px;
                        }

                        input[type="submit"] {
                            display: block;
                            width: 100%;
                            margin-top: 15px;
                            margin-bottom: 25px;
                            padding-bottom: 2px;
                            height: 46px;
                            background: #f00;
                            border: 3px solid #f00;
                            border-radius: 5px;
                            color: #fff;
                            font-weight: bold;
                            cursor: pointer;
                            transition: background 0.4s, color 0.4s;

                            &:hover {
                                background: #000;
                                color: #f00;
                            }

                        }

                    }

                    aside {
                        color: #bfbfbf;
                        font-size: 14px;
                        @include breakpoint(tiny down) {
                            font-size: 13px;
                        }

                    }

                }

            }

        }

    }

}

