.profile {
    padding: 95px 0 0;

    &__container {
        display: flex;
        margin-bottom: 70px;
        width: 100%;
        @include breakpoint(950 down) {
            justify-content: space-between;
        }
        @include breakpoint(small down) {
            flex-direction: column;
            align-items: center;
        }

        &-avatar {
            width: 306px;
            height: 306px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 150px;
            @include breakpoint(950 down) {
                margin-right: 0;
            }
            @include breakpoint(tiny down) {
                margin-right: 0;
                width: 280px;
                height: 280px;
            }

            &.edit {
                position: relative;
                &:hover {
                    cursor: pointer;
                    &:before {
                        opacity: .5;
                    }
                    &:after {
                        opacity: 1;
                    }
                }

                &:before {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 50;
                    content: '';
                    background-color: #0a0a0a;
                    opacity: 0;
                    transition: opacity .5s;
                }

                &:after {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 55;
                    content: '';
                    background-image: url(/images/edit.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    top: 0;
                    left: 0;
                    right: 0;
                    -webkit-background-size: 17px;
                    background-size: 17px;
                    opacity: 0;
                    transition: opacity .5s;
                }

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .input-avatar {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                cursor: pointer;
                opacity: 0;
            }
        }

        &-info {
            margin-top: 45px;
            @include breakpoint(tiny down) {
                width: 100%;
                display: inline-block;
                text-align: center;
            }

            input {
                background-color: transparent;
                border: none;
                color: #fff;
                padding: 0;
                margin: 0;
                outline: none;
                box-shadow: none;
                display: inline-block;
                width: auto;
                @include breakpoint(tiny down) {
                    text-align: center;
                }
                input[readonly] {
                    cursor: auto;
                }

                &:hover {
                    input[readonly] {
                        cursor: auto;
                    }
                }

                &:focus {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }

            .info {
                &-name {
                    position: relative;
                    display: inline-block;
                    margin-bottom: 6px;
                    padding: 0 30px;
                    input {
                        font-size: 25px;
                        font-weight: 700;
                        line-height: normal;
                        border: 1px solid rgb(53,53,53);
                        box-shadow: inset 0 1px 2px rgba(250, 250,250, 0.1);
                        border-radius: 5px;
                        max-width: 230px;
                        padding: 0 5px;
                    }
                    p {
                        font-size: 25px;
                        font-weight: 700;
                        line-height: normal;
                        max-width: 290px;
                        display: inline-block;
                    }

                    &:hover {
                        .edit {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .edit {
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        background-image: url(/images/edit.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        -webkit-background-size: 17px;
                        background-size: 17px;
                        position: absolute;
                        top: 10px;
                        right: 7px;
                        cursor: pointer;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity .3s, visibility .3s;
                    }

                }

                &-mail {
                    color: #7f7f7f;
                    font-size: 13px;
                    padding: 0 30px;
                    margin-bottom: 10px;
                }

                &-city {
                    position: relative;
                    margin-bottom: 8px;
                    padding: 0 30px;
                    display: inline-block;
                    input {
                        font-size: 18px;
                        font-weight: 400;
                        border: 1px solid rgb(53,53,53);
                        box-shadow: inset 0 1px 2px rgba(250, 250,250, 0.1);
                        border-radius: 5px;
                        max-width: 200px;
                        padding: 0 5px;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: normal;
                        max-width: 290px;
                        display: inline-block;
                    }

                    &:hover {
                        .edit {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .edit {
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                        background-image: url(/images/edit.png);
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                        -webkit-background-size: 17px;
                        background-size: 17px;
                        position: absolute;
                        top: 0;
                        right: 7px;
                        cursor: pointer;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity .3s, visibility .3s;
                    }

                }

                &-setting {
                    margin-bottom: 26px;
                    padding: 0 30px;
                    button {
                        font-size: 16px;
                        font-weight: 400;
                        color: rgb(127,127,127);
                        border-bottom: 1px dotted rgb(127,127,127);
                        transition: border-bottom-color .3s, color .3s;
                        &:hover {
                            border-bottom-color: transparent;
                            color: #fff;
                        }
                    }
                }

                &-validity {
                    position: relative;
                    border: 1px solid rgb(53,53,53);
                    border-radius: 5px;
                    color: #fff;
                    display: inline-block;
                    max-width: 305px;
                    @include breakpoint(tiny down) {
                        max-width: 330px;
                    }

                    &.open {
                        .info-validity-item:not(:first-child) {
                            max-height: 300px;
                            transition: max-height .3s, padding .3s;
                            padding: 20px;
                            border-top: 1px solid rgb(53,53,53);
                            div {
                                transform: scaleY(1);
                            }
                        }

                        .btn-arrow {
                            img {
                                transform: rotateX(180deg);
                            }

                        }

                    }

                    &-item {
                        padding: 16px 0 19px 30px;
                        @include breakpoint(tiny down) {
                            padding: 20px;
                        }

                        &:not(:first-child) {
                            max-height: 0;
                            transition: max-height .3s, padding .3s;
                            overflow: hidden;
                            padding: 0 20px;
                            border: none;

                            div {
                                transform: scaleY(0);
                                transition: transform .5s;
                            }
                        }
                    }

                    &__title {
                        font-size: 13px;
                        font-weight: 400;
                        display: inline-block;
                        margin-bottom: 7px;
                        @include breakpoint(tiny down) {
                            font-size: 13px;
                        }

                        p {
                            display: inline;
                        }
                    }

                    &__content {
                        display: flex;
                        @include breakpoint(480 down) {
                            flex-direction: column;
                        }

                        &-deadline {
                            font-size: 25px;
                            font-weight: 700;
                            line-height: normal;
                            margin-right: 10px;
                            @include breakpoint(480 down) {
                                flex-direction: column;
                            }
                        }

                        &-btn {
                            max-width: 80px;
                            line-height: 10px;
                            @include breakpoint(480 down) {
                                max-width: 100%;
                                margin-top: 5px;
                            }
                            a {
                                font-size: 11px;
                                display: inline;
                                color: #fff;
                                text-align: left;
                                border-bottom: 1px solid rgb(53,53,53);
                                transition: border-bottom-color .3s;
                                line-height: 12px;
                                @include breakpoint(480 down) {
                                    color: rgb(127,127,127);
                                    border-bottom: 1px dotted rgb(127,127,127);
                                }
                                br {
                                    @include breakpoint(480 down) {
                                        display: none;
                                    }

                                }

                                &:hover {
                                    border-color: transparent;
                                }
                            }
                        }
                    }

                    .btn-arrow {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -7px;
                        margin: 0 auto;
                        z-index: 50;
                        border-radius: 50%;
                        background-color: #000;
                    }
                }
            }
        }
    }

    &__setting {
        display: flex;
        justify-content: space-between;
        background-color: rgb(45,45,45);
        border-radius: 5px;
        padding: 40px 70px 40px 40px;
        position: relative;
        transform: scaleY(0);
        transition: transform .3s,max-height .5s, opacity .5s, margin-bottom .3s;
        max-height: 0;
        opacity: 0;
        @include breakpoint(1024 down) {
            padding: 25px 45px 25px 25px;
        }
        @include breakpoint(small down) {
           flex-direction: column;
            width: 100%;
            padding: 25px;
        }
        @include breakpoint(tiny down) {
            background-color: transparent;
            padding: 0;
            width: 100%;
        }

        &.open {
            transform: scaleY(1);
            max-height: 500px;
            opacity: 1;
            margin-bottom: 95px;
            @include breakpoint(tiny down) {
            }
        }

        &-title {
            h2 {
                font-size: 25px;
                line-height: normal;
                @include breakpoint(small down) {
                    text-align: center;
                    margin-bottom: 25px;
                }
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            max-width: 634px;
            @include breakpoint(small down) {
                max-width: 100%;
            }
            @include breakpoint(tiny down) {
               flex-direction: column;
                align-items: center;
            }
        }

        .col {
            max-width: 307px;
            width: 100%;
            &.mail {
                @include breakpoint(1024 down) {
                    margin-right: 20px;
                }
                @include breakpoint(tiny down) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            input[readonly] {
                cursor: auto;
            }
            input {
                border: none;
                padding: 0 20px;
                outline: none;
                box-shadow: none;
                display: inline-block;
                background-color: #000;
                width: 100%;
                border-radius: 5px;
                height: 50px;
                color: #7f7f7f;
                font-size: 14px;
                margin: 0;
                @include breakpoint(tiny down) {
                    border: 1px solid rgb(53,53,53);
                }

                &:hover {
                        cursor: auto;

                }

                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }

            .changeSmall {
                color: rgb(127,127,127);
                border-bottom: 1px dotted rgb(127,127,127);
                transition: border-bottom-color .5s, color .5s;
                margin: 0 20px;
                @include breakpoint(tiny down) {
                    margin: 0 auto;
                }

                &:hover {
                    border-bottom-color: transparent;
                    color: #fff;
                }
            }

            .change {
                height: 42px;
                background-color: $color-red;
                width: 104px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #ffffff;
                border-radius: 5px;
                transition: background-color .5s;
                @include breakpoint(tiny down) {
                    margin: 0 auto;
                }

                &:hover {
                    background-color: darken($color-red, 15%);
                }
            }
        }

        .form {
            &__mail, &__password {
                margin-bottom: 20px;
                @include breakpoint(tiny down) {
                    margin-bottom: 10px;
                    text-align: center;
                }
                &-new {
                    overflow: hidden;
                    transform: scaleY(0);
                    transition: transform .3s,max-height .5s, opacity .5s;
                    max-height: 0;
                    opacity: 0;

                    &.open {
                        transform: scaleY(1);
                        max-height: 500px;
                        opacity: 1;
                    }

                    input {
                        margin-bottom: 12px;
                    }
                }
            }
        }

        .setting-close {
            width: 18px;
            height: 18px;
            background-image: url(/images/modal_close.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            position: absolute;
            top: 15px;
            right: 15px;
            @include breakpoint(tiny down) {
                display: none;
            }
        }
    }
}

.viewed {
    padding-bottom: 85px;

    &__title {
        margin-bottom: 25px;
        h2 {
            font-size: 25px;
            @include breakpoint(480 down) {
                font-size: 21px;
                text-align: center;
            }
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @include breakpoint(950 down) {
            justify-content: space-between;
        }

        .item {
            position: relative;
            width: calc(33.333% - 14px);
            border-radius: 5px;
            overflow: hidden;
            margin-right: 20px;
            margin-bottom: 30px;
            @include breakpoint(950 down) {
                width: calc(50% - 10px);
                margin-right: 0;
            }
            @include breakpoint(small down) {
                width: 100%;

            }
            @include breakpoint(tiny down) {
                width: 100%;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }

            &__link {
                display: inline-block;
                font-weight: 400;
                color: #ffffff;
                width: 100%;
                height: 100%;
                &:hover {
                    color: inherit;
                }
                img {
                    width: 100%;
                }

                &-img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    opacity: .5;
                    transition: opacity .3s;

                    img {
                        width: 100%;
                    }
                }

                &-top {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    font-size: 13px;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    @include breakpoint(small down) {
                        padding: 10px 15px;
                    }

                    .play {
                        width: 28px;
                        height: 28px;
                        @include breakpoint(small down) {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                &-text {
                    transform: rotate(-90deg);
                    position: absolute;
                    left: -53px;
                    top: 43%;
                    max-width: 168px;
                    font-size: 14px;
                    @include breakpoint(small down) {
                        transform: rotate(0deg);
                        top: inherit;
                        left: 15px;
                        bottom: 7px;
                    }
                }

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: normal;
                    padding: 15px;
                }
            }

            &:hover {
                .item__link-img {
                    opacity: 1;
                }
            }
        }
    }
}

.recommended {
    padding-bottom: 85px;
    &__title {
        margin-bottom: 25px;
        h2 {
            font-size: 25px;
            @include breakpoint(480 down) {
                font-size: 21px;
                text-align: center;
            }
        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        @include breakpoint(950 down) {
            justify-content: space-between;
        }

        .item {
            position: relative;
            width: calc(33.333% - 14px);
            border-radius: 5px;
            overflow: hidden;
            margin-right: 20px;
            margin-bottom: 30px;
            @include breakpoint(950 down) {
                width: calc(50% - 10px);
                margin-right: 0;
            }
            @include breakpoint(small down) {
                width: 100%;

            }
            @include breakpoint(tiny down) {
                width: 100%;
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }

            &__link {
                display: inline-block;
                font-weight: 400;
                color: #ffffff;
                width: 100%;
                height: 100%;
                &:hover {
                    color: inherit;
                }
                img {
                    width: 100%;
                }

                &-img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    opacity: .5;
                    transition: opacity .3s;

                    img {
                        width: 100%;
                    }
                }

                &-top {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    width: 100%;
                    font-size: 13px;
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    @include breakpoint(small down) {
                        padding: 10px 15px;
                    }

                    .play {
                        width: 28px;
                        height: 28px;
                        @include breakpoint(small down) {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                &-text {
                    transform: rotate(-90deg);
                    position: absolute;
                    left: -53px;
                    top: 43%;
                    max-width: 168px;
                    font-size: 14px;
                    @include breakpoint(small down) {
                        transform: rotate(0deg);
                        top: inherit;
                        left: 15px;
                        bottom: 7px;
                    }
                }

                &-bottom {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    font-size: 13px;
                    font-weight: bold;
                    line-height: normal;
                    padding: 10px 15px;
                }
            }

            &:hover {
                .item__link-img {
                    opacity: 1;
                }
            }
        }
    }
}